<section id="about-me" class="bg-gray-main rounded-2xl text-white border-b-2 border-silver">
  <div class="container">
    <article class="prose max-w-none text-white prose-invert prose-h2:underline prose-h2:text-center">
      <div class="flex justify-center"><img class="rounded-full h-44" src="assets/Profilbild_eckig.webp " alt="Tobias Jungbauer"></div>
      <h4>
        Meine Ziele in der Datenrettung sind Qualität, Fairness und Transparenz. Daraus ergeben Sie u.a. folgende
        Punkte:
      </h4>
      <p></p>
      <h4>1. Schaffen von idealen Voraussetzungen und vielschichtiges Angebot:</h4>
      <p>Ich bin mit meinem Know-how und professionellen Equipment breit aufgestellt. Darunter ist mir z.B. das Arbeiten unter DIN 14644-1 ISO 5 Reinraumklasse möglich.
        <br>Angeboten wird nicht nur die Datenrettung von schwierigen HDD- und NAND-Fällen, sondern biete ich auch SSD- und die RAID-Datenrettung an.<br>
        Ich bin zudem in der Lage die interne Firmware ("Servicearea") der jeweiligen Speicher zu bearbeiten und zu umgehen.
      </p>
      <h4>2. Öffentliche Preise und nur nach Erfolg:</h4>
      <p>Alle meine Fälle werden zu einem öffentlichen "all-inclusive" Festpreis bearbeitet. Bei Misserfolg entstehen keine Gebühren.
      </p>
      <h4>3. Tipps und Einblicke:</h4>
      <p>Fragen Sie gerne nach wie und mit welchem Werkzeug die Datenrettung durchgeführt wird. <br>Gerne berate ich Sie zudem kostenfrei zur Einrichtung einer zukünftigen Backupstrategie zur Datensicherung.</p>
        <h4>
          Entstehungsgeschichte:
        </h4>
      <div class="relative flex pb-8">
        <div class="absolute inset-0 flex items-center justify-center w-12 h-full">
          <div class="w-1 h-full bg-white pointer-events-none"></div>
        </div>

        <div class="top-44 relative z-10 inline-flex items-center justify-center
        flex-shrink-0 w-12 h-12 text-black rounded-full bg-white">
          2018
        </div>
        <div class="flex-grow pl-4">
          <p>
            Bereits zu meinem Abitur, als auch während meines Ingenieurstudiums, arbeitete ich bei einem
            mittelständischen
            Elektronikdienstleister, bei dem ich das ESD-geschützte Arbeiten an elektronischen Baugruppen, z.B. Löten an
            SMD
            und THT Bauteilen lernen, als auch für optische Systeme unter Reinraumbedingungen arbeiten durfte.
            <br><br>
            Meinen ersten Auftrag zu einer Datenrettung erhielt ich Anfang 2018.<br>
            Eine Festplatte aus dem Freundeskreis bei der ein Angebot einer professionellen Datenrettung im
            vierstelligen
            Betrag vorlag, was für den Besitzer nun mal zu teuer war.

            Schon immer kannte ich mich gut mit allgemeiner IT aus und half gerne Freunde und Verwandte, die damit
            Schwierigkeiten hatten. So kam diese Festplatte zu mir. Damals mit noch nicht professionellen Mitteln,
            sondern
            mit einer simplen Linux Software war es tatsächlich möglich gewesen, die Daten zu retten.

            Darüber erschüttert, dass das Angebot für die Datenrettung dieser Festplatte so teuer gewesen wäre, fing ich an,
            meine
            Dienste günstig, bereits damals zu einem Festpreis nach Erfolg, unter der Webseite ammerseedatenrettung.de
            anzubieten. 
            
            <br><br>
          </p>
          <h4>Der Einstieg in die professionellen NAND-Datenrettung:</h4> 

          <p>
            
            Ich konnte mit meiner damaligen Methodik bereits einige Kunden glücklich machen, doch nicht lange dauerte es,
            dass ich Aufträge erhielt, bei denen ich mit meinen damals nicht professionellen Mitteln keine Lösung erzielen
            konnte.<br>
    
            Mit der Situation unzufrieden fing ich an zu recherchieren und nahm mein komplettes von Studentenjobs erspartes
            Geld in die Hand um mein erstes Produkt von ACE Lab zu erwerben. Den PC-3000 Flash.
    
            Hiermit konnte ich nun NAND-Speicher bearbeiten, die vom Computer nicht mehr erkannt worden sind und somit mit
            reiner Software nicht lösbar waren! Ein großer Fortschritt.
        
          
          </p>

        </div>
      </div>
      <div class="relative flex pb-8">
        <div class="absolute inset-0 flex items-center justify-center w-12 h-full">
          <div class="w-1 h-full bg-white pointer-events-none"></div>
        </div>
        <div class="top-20 relative z-10 inline-flex items-center justify-center
        flex-shrink-0 w-12 h-12 text-black rounded-full bg-white">
          2019
        </div>
        <div class="flex-grow pl-4">
          <h4> Der Einstieg in die professionellen HDD Datenrettung: </h4>
          <p>
            Auch aufgrund der Kritik eines Kunden, dass ich seinen Festplattenfall trotz nicht klackernden Geräusche mit meinen
            damaligen Mitteln nicht lösen konnte, und auch wegen meines persönlichen Ehrgeizes, welcher mir nicht erlaubte,
            meiner Meinung nach technisch lösbare Fälle aufzugeben, entschied ich mich Anfang 2019 diesmal meinen
            damaligen kompletten Besitz, zwei Motorräder, zu verkaufen, um mir entsprechendes Equipment anzuschaffen.
    
            Dazugekommen sind eine Laminar Flowbox, die es mir fortan erlaubte unter Reinraumbedingungen zu arbeiten, als
            auch das PC-3000 UDMA von ACE Lab, womit ich nun die technische Unterstützung auf Herstellerebene diverser
            Festplattenmodelle erhielt.
          </p>
        </div>




      
      </div>

      <div class="relative flex pb-8">
        <div class="absolute inset-0 flex items-center justify-center w-12 h-full">
          <div class="w-1 h-full bg-white pointer-events-none"></div>
        </div>
        <div class="top-28 relative z-10 inline-flex items-center justify-center
        flex-shrink-0 w-12 h-12 text-black rounded-full bg-white">
          Heute
        </div>
        <div class="flex-grow pl-4">
         
          <h4>Die Situation Heute:</h4>
         
          <p>
            
        Mittlerweile habe ich 1103 Datenrettungsfälle (Stand: 22.07.23) erfolgreich bearbeitet.
        Mit diesen kamen immer neue Herausforderungen, die nach harter Arbeit neue Lösungen hervorbrachten.

        Um die bestmöglichen Bedingungen zu bieten, habe ich auch weiterhin viel Zeit und Geld investiert,
        sodass ich mittlerweile auch die schwierigsten Fälle, bei denen oftmals ein vorheriger Bearbeiter bereits
        aufgegeben hat, bearbeiten kann, um z.B. zumindest eine Teildatenrettung zu erzielen.

        So arbeite ich auch mit Festplatten mit beschädigten / verkratzten Oberflächen oder repariere schwierige Festplattenmodelle
        wie z.B. aus der Seagate Rosewood Familie oder moderne SMR WD-Speicher, die wesentlich größere Datenrettungsdienste zuvor nicht
        bearbeiten konnten.

        Dabei habe ich meine Anfänge nicht vergessen.
        Mein Ziel ist es möglichst jedem eine professionelle Datenrettung zu ermöglichen.
<br><br> <br>
        Ich hoffe, dass Sie mein Angebot als fair empfinden werden und ich Sie mit meiner Leistung überzeugen kann.
<br>
        Falls Fragen bestehen rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an:
        info@jungbauerdatenrettung.de
          </p>
        </div>
      </div>
    </article>
  </div>
</section>



