<div>
  <div class="bg-white text-center">
    <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Ablauf der Datenrettung</h1>
  </div>
  <div class="bg-gray-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap px-3">
<h2 class="font-bold text-xl">Ablauf der Datenrettung</h2><span class="text-bold text-lg md:text-lg text-silver">Updated am 03.12.2021, 14:56 von Tobias Jungbauer</span>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold">
Hiermit möchte ich den Ablauf einer HDD-Datenrettung anhand eines Beispielfalles aufzeigen:
</span>
1. Sie füllen das Auftragsformular aus und senden den Speicher an:

Tobias Jungbauer
Datenrettung
Am Stein 9
85049 Ingolstadt

Gerne können wir auch einen Termin für eine persönliche Übergabe vereinbaren.
Falls Sie versenden bitte möglichst stoßfest und mit einer Sendeverfolgung.

<div class="flex grid-cols-3 flex-wrap gap-4">

  <img class="h-120 object-cover object-center" src="assets/Musterauftrag.PNG">

</div>

2. Nach Ankuft erhalten Sie eine Bestätigung per Mail mit einem Trackinglink.
Hier werden Statusmeldungen eingetragen und das Analyseergebnis protokolliert.
Außerdem erhalten Sie eine Abschätzung über die übrige Bearbeitungsdauer:

<div class="flex grid-cols-3 flex-wrap gap-4">

  <img class="h-120 object-cover object-center" src="assets/Einsicht.PNG">


3. Nach der Datenrettung werden Ihre Dateien auf den Ersatzdatenträger Ihrer Wahl abgespeichert und diese werden nun per DHL zugesandt.
Sie zahlen erst jetzt nach Datenerhalt den im voraus festgelegten Festpreis.

<div class="flex justify-end pt-4">
  <button class="text-xl bg-white py-2 px-4 shadow rounded text-black"> <a href="">zurück zur Startseite</a></button>
</div>

Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de


    
      




    </pre>
    </pre>
  </div>
</div>
