<title>Apple SSD-Datenrettung vom Profi | transparent, sicher & fair</title>
<meta name="description" content="Geben Sie die SSD-Datenrettung in erfahrene Hände und vertrauen Sie auf die Expertise von Tobias Jungbauer. Wir setzen auf die Datenrettung zum Festpreis!"/>
<meta name="keywords" content="Apple SSD Datenrettung, "/>
<meta property="og:title" content="Apple SSD-Datenrettung vom Profi | transparent, sicher & fair"/>
<meta property="og:description" content="Geben Sie die SSD-Datenrettung in erfahrene Hände und vertrauen Sie auf die Expertise von Tobias Jungbauer. Wir setzen auf die Datenrettung zum Festpreis!"/>
<meta property="og:keywords" content="Apple SSD Datenrettung, "/>
<meta property="image" src="https://lh3.googleusercontent.com/p/AF1QipPZN0iPGU0kapKsKYK_8za0w-eKvHn4-thuB5rS=s680-w680-h510" alt="Datarecovery"/>
<meta property="name" content="Tobias Jungbauer Datenrettung & IT-Forensik" />
<meta property="founder" content="Tobias Jungbauer" />
<meta property="areaServed" content="Bayern" />
<meta property="telephone" content="084112840705" />
<meta property="email" content="info@jungbauerdatenrettung.de" />
<meta property="address" content="Am Stein 9, 85049 Ingolstadt" />
<meta property="bestRating" content="5" /> 

<div>
    <div class="bg-white text-center">
        <h2 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Defekte MZ-CPA2560/0A2 SSD (defekte Apple
            Macbook Air SSD)
            Datenrettung</h2>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap px-3">
<h1 class="font-bold text-xl">Defeke MZ-CPA2560/0A2 SSD (defekte Apple Macbook Air SSD) Datenrettung</h1><span class="text-bold text-sm md:text-lg text-silver">Updated am 01.01.2022, 20:37 von Tobias Jungbauer</span>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold">
Hiermit möchte ich auf den Ablauf einer SSD-Datenrettung einer defekten Macbook Air SSD (MZ-CPA2560/0A2) eingehen.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-85 object-cover object-center" src="/assets/MVIMG_20211224_214303-min.jpg">
</div>
<span class="font-semibold">
Unser Kunde teilte mit: "Die SSD wird an keinem Endgerät, dass weder im Gerätemannager, noch im BIOS mehr erkannt."
Wenn wir die SSD an unser PC-3000 UDMA anschießen sehen wir im Statusregister, dass die SSD nach dem Starten im Status "BSY" feststeckt.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-85 object-cover object-center" src="/assets/AppleSSD.PNG">
</div>
<span class="font-semibold">
Das ist ein typisches Schadensbild: Teile der NAND-Speicherchips werden nicht mehr ansprechbar. Dabei liegt die SSD eigene Firmware ebenfalls auf diesen Chips und
und als Folge schafft die SSD sich nicht mehr zu initialisieren.

Um nun Datenzugriff zu ermöglichen müssen wir die fehlenden Teile extern in den RAM der SSD hochladen.
Dafür nutzen wir die ACE LAB PC-3000 UDMA Software.
  </span>
  <div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-85 object-cover object-center" src="/assets/artikel 3.PNG">
  </div>

<span class="font-semibold">
Nun haben wir bereits Zugriff auf den einzelnen Filedumps der Speicherchips.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-85 object-cover object-center" src="/assets/artikel0.PNG">
</div>
<span class="font-semibold">
Um Datenzugriff auf die Kundendaten zu ermöglichen müssen wir nun noch den Translator initilaisieren.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-85 object-cover object-center" src="/assets/artikel 4.PNG">
</div>
<span class="font-semibold">
Nun haben wir auch Zugriff auf die Userarea / den Kundendaten.
  </span>
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-right" src="/assets/artikel 7.PNG">
  <img class="h-80 object-cover object-center" src="/assets/artikel 6.PNG">
</div>
<span class="font-semibold">
Da einige Sektoren aufgrund schlechter Chipqualität nicht lesbar waren gehen wir in den "Reread" (das erneute Auslesen).
Um die Lesbakeit diesmal zu verbessern kühlen wir nun die Speicherchips auf ca. -50°C.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-right" src="/assets/artikel 8.PNG">
  <img class="h-80 object-cover object-center" src="/assets/MVIMG_20211224_220650-min.jpg">
</div>
<span class="font-semibold">
Die geretteten Dateien senden wir nun unseren Kunden zu.
</span>
    </pre>
    </pre>
    <div class="flex pt-4"><button
      class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a
      href="">Zurück zur Startseite</a></button></div>
    </div>
</div>
