<title>Datenrettung: Übersicht der Arbeitsweise </title>
<meta name="description" content="Wir garantieren Ihnen bei jeder Datenrettung faire und transparente Preise - von Anfang an. Verschaffen Sie sich hier einen Überblick über die Kosten."/>
<meta name="keywords" content="Datenrettung: Übersicht Arbeitsweise"/>
<meta property="og:title" content="Datenrettung: Faire und transparente Preise"/>
<meta property="og:description" content="Wir garantieren Ihnen bei jeder Datenrettung faire und transparente Preise - von Anfang an. Verschaffen Sie sich hier einen Überblick über die Kosten."/>
<meta property="og:keywords" content="Datenrettung Übersicht Arbeitsweise"/>
<meta property="image" src="https://lh3.googleusercontent.com/p/AF1QipPZN0iPGU0kapKsKYK_8za0w-eKvHn4-thuB5rS=s680-w680-h510" alt="Datarecovery"/>
<meta property="name" content="Tobias Jungbauer Datenrettung & IT-Forensik" />
<meta property="founder" content="Tobias Jungbauer" />
<meta property="areaServed" content="Bayern" />
<meta property="telephone" content="084112840705" />
<meta property="email" content="info@jungbauerdatenrettung.de" />
<meta property="address" content="Am Stein 9, 85049 Ingolstadt" />
<meta property="bestRating" content="5" /> 



    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
       Arbeitsweise Übersicht 
      </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver pb-8">
      <div class="container py-8 px-3">
        <span class=" text-xl md:text-2xl font-bold"
          >Übersicht der Arbeitsweise:
          </span
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 07.03.22, 08:41 von Tobias Jungbauer</span> </pre>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">

<h2 class="font-semibold text-base md:text-xl">Wählen Sie Ihren Datenträger aus:</h2>
<div class="flex grid-cols-2 flex-wrap gap-4">

<span>
<button class="text-base md:text-xl bg-white py-2 px-4 shadow  text-black"><a href="https://www.jungbauerdatenrettung.de/datenrettung/hdd">HDD-Festplatten</a></button>
<a href="https://www.jungbauerdatenrettung.de/datenrettung/hdd"><img class="h-80 object-cover object-left" src="assets/index/hdd_price.webp"></a>
</span>

<span>
<button class="text-base md:text-xl bg-white py-2 px-4 shadow  text-black"><a href="https://www.jungbauerdatenrettung.de/datenrettung/ssd">SSD-Speicher</a></button>
<a href="https://www.jungbauerdatenrettung.de/datenrettung/ssd"><img class="h-80 object-cover object-left" src="assets/index/ssd_price.webp" ></a>
</span>
npo
<span>
<button class="text-base md:text-xl bg-white py-2 px-4 shadow  text-black"><a href="https://www.jungbauerdatenrettung.de/datenrettung/usb">USB-Stick</a></button>
<a href="https://www.jungbauerdatenrettung.de/datenrettung/usb"><img class="h-80 object-cover object-left" src="assets/index/usb.webp" ></a>
</span>

<span>
<button class="text-base md:text-xl bg-white py-2 px-4 shadow  text-black"><a href="https://www.jungbauerdatenrettung.de/datenrettung/sd">micro SD & SD-Karte</a></button>
<a href="https://www.jungbauerdatenrettung.de/datenrettung/sd"><img class="h-80 object-cover object-left" src="assets/index/flash3.webp" ></a>
</span>

<span>
<button class="text-base md:text-xl bg-white py-2 px-4 shadow  text-black"><a href="https://www.jungbauerdatenrettung.de/datenrettung/raid">NAS & RAID</a></button>
<a href="https://www.jungbauerdatenrettung.de/datenrettung/raid"><img class="h-80 object-cover object-left" src="assets/index/synology.webp" ></a>
</span>
</div>

<h2 class="font-semibold text-base md:text-xl">Wie hoch sind die Preise?</h2>
Die Preise richten sich nach Speichertyp und Größe. Außerdem wird in „einfache“ und „schwierige“ Fälle unterschieden. Hier finden Sie direkt die Preise: 
Sie zahlen nur nach Erfolg, den Sie vorher definiert haben (z.B. "Ordner x" am wichtigsten).
Es gibt keine Vorauszahlungen, Analysekosten oder versteckte Gebühren.
Hier finden Sie direkt unsere Preise: <div class="flex pt-4"><button class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Preisliste</a></button></div>

<h3 class="text-white text-sm md:text-xl py-8">
Falls Fragen bestehen rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
</h3>

</div>
</div>