<div>
  <div class="bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">Datenrettung Kosten </h1>
  </div>
  <div class="bg-grey-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap">
<h2 class="font-bold text-xl underline">Datenrettung Kosten</h2>
<span class="font-semibold text-lg text-silver">Updated am 29.11.2021, 16:14 von Tobias Jungbauer</span>

Immer wieder werde ich von Kunden mit sehr hohen Kostenvoranschlägen anderer Datenretter konfrontiert.
Daher werde ich regelmäßig gefragt wie ich wesentlich preiswerter sein kann.

Tatsächlich ist das Equipment für die professionelle Datenrettung teuer.
So kommen als professionellen Datenretter Erstinvestitionen im mittleren 5-stelligen Bereich auf einen zu.
Zusätzlich entstehen dabei stetig Kosten für Spezialwerkzeug für z.B. besondere Festplattenmodelle, jährliche Softwaregebühren, wie auch allgemeine Kosten wie z.B. Raummiete und Strom.

Doch wie realisiere ich nun den Preisunterschied?
<span class="flex justify-end pt-4"><button class="text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Direkt zu den Preisen</a></button></span>
<span class="underline font-semibold">
1. Geringe Kosten für das Marketing:
</span>
Es gibt verschiedene Modelle, um entsprechend an Aufträge zu kommen. So kann man z.B. mit verschiedenen Computerläden in den größeren Städten Deutschlands ein Vertriebsnetzwerk aufbauen, bei dem der Vertriebspartner einem als Labor den Datenrettungsfall dann zusendet und pro Auftrag entsprechend Provisionen erhält.
Man kann auch externe Dienstleister wie CEO Experten zur Google Suchmaschinenoptimierung beauftragen, die monatlich bezahlt werden, oder auch mit einem hohen Budget in Google Ads investieren, damit man bei entsprechenden Keywords bei der Google Suche ganz oben angezeigt wird.
Diese Methoden sind zwar effektiv, jedoch auch mit hohen Kosten verbunden, die am Ende der Kunde trägt.
<span class="font-semibold">
-> Ich bin zwar mit einem kleineren Budget auch bei Google Ads vertreten, doch verzichte ich auf teure Marketingmechanismen und spare dadurch Kosten.
  </span>
  <span class="underline font-semibold">
2. Externe Dienstleister:
</span>
Einige Anbieter bearbeiten selbst nur leichte Fälle und geben komplexere Fälle direkt an externe Dienstleister weiter, anstelle sich selbst das entsprechende Knowhow und Equipment anzueignen.

Dies wird aus einem einfachen Grund ermöglicht: Aufgrund der hohen Wichtigkeit der Daten, können beim Kunden hohe Preise ausgehandelt werden, sodass auch ohne eigene Bearbeitung die gewünschte Gewinnspanne erzielt werden kann. Als Kunde zahlt man so am Ende aber doppelte Gehälter.
<span class="font-semibold">
-> Ich führe alle Arbeiten ohne Ausnahme selbst durch.
    </span>
<span class="underline font-semibold">
3. Alle Schäden werden für den gleichen Festpreis bearbeitet:
</span>
Die weitverbreitetste Vorgehensweise einer professionellen Datenrettung ist die folgende:
Sie senden Ihren Speicher ein -> Es wird eine Analyse und ein entsprechender Kostenvoranschlag für Ihren Schaden erstellt -> Sie nehmen das Angebot nun an oder lehnen es ab.
Das Teure hier ist, dass durch eine umfassende Analyse viele für die Reparatur wichtige Schritte doppelt durchgeführt werden.
Bei einer klackernden Festplatte werden zum Beispiel die jeweiligen Schreib-/Leseköpfe unter einem Mikroskop untersucht, um einen Eindruck darüber zu erhalten, wie der Zustand der Oberfläche ist. Dadurch kann eine erste Abschätzung über die mögliche rettbare Datenmenge abgegeben werden.
(Befinden sich z.B. Schleifspuren auf dem Schreib-/Lesekopf, so kann von selbigen auf der jeweiligen Oberfläche ausgegangen werden.)
Die Festplatte ist nun bereits offen und die originalen Leseköpfe wurden herausgenommen. Es wäre ein leichtes Unterfangen, direkt neue Schreib-/Leseköpfe zu verbauen. Stattdessen wird aber wieder alles zurückgebaut und Ihre Antwort abgewartet, um dann später für die Reparatur wieder von vorne zu beginnen.
Es werden so auch aufwendige Analysen ohne letztendlichen Auftrag durchgeführt, da der Kostenvoranschlag für den Kunden nun vielleicht doch zu teuer gewesen ist und dieser die Festplatte zurückhaben möchte.
Die Analysekosten sind dann auch noch in der Regel sehr niedrig oder kostenfrei, sodass diese von den übrigen Aufträgen finanziert werden.
<span class="font-semibold">
-> Der Vorteil der Festpreise ist, dass alle Kundenaufträge auch mit dem konkreten Datenrettungsauftrag verbunden sind und ich somit keine Arbeitsschritte doppelt bzw. auch Analysen ohne Sinn durchführen muss.
Als Kunde kennen Sie bereits im Voraus den Preis und senden somit keinen Fall ein, wenn Ihnen dieser zu teuer ist.
      </span>
<span class="underline font-semibold">
4. Vollauslastung der Hardware:
</span>
Dass das Equipment zur Datenrettung teuer ist, steht außer Frage.
Anstelle nun die laufenden Fixkosten mit wenigen Aufträgen zu finanzieren, arbeite ich stattdessen an der Kapazitätsgrenze der Hardware.
Grundsätzlich bietet z.B. ein PC-3000 UDMA zwei Anschlüsse, ein PC-3000 Flash aber nur einen, sodass Aufträge hintereinander bearbeitet werden müssen.
Ist das Auslesen eines Speichers abgeschlossen, so wird bei mir auch nachts oder an Wochenenden der nächste Speicher angeschlossen. Dadurch wird eine optimale Auslastung erzielt.
<span class="font-semibold">
-> Eine hohe Auslastung ohne Leerlauf ermöglicht es, die laufenden Fixkosten zu relativieren.
      </span>
Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
    </pre>
  </div>
</div>
