<div>
    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Datenrettung Festplatte </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
      <pre class="container whitespace-pre-wrap px-3">
  <h2 class="font-bold text-xl">Datenrettung Festplatte </h2><span class="text-bold text-sm md:text-lg text-silver">Updated am 23.04.2022, 22:54 Uhr von Tobias Jungbauer</span>
  <pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
Gerne bearbeite ich auch Aufträge, die von vorherigen Bearbeitern aufgegeben oder bei denen die Festplatten Datenrettung nur zu einem Vielfachen meines Festpreises angeboten worden ist. Mein Ziel ist es die professionelle Datenrettung möglichst jedem zu ermöglichen. <div class="flex justify-end pt-4"><button class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">direkt zur Festpreisliste</a></button></div>
<span class="font-semibold text-base md:text-xl">Es wird die Datenrettung für Festplatten angeboten, die z.B.:</span>
- nicht mehr erkannt werden (z.B. typisch für externe WD 2,5" oder 3,5" Seagate HDDs)
- erkannt werden, sich aber nicht korrekt auslesen lassen
- "klackern" oder "fiepsen" (mechanische Schäden)
- Fehlermeldungen ausgeben (wie CRC-Fehler oder E/A-Fehler)
    
    
<span class="font-semibold text-base md:text-xl">Typische Ursachen dabei sind:</span>
- beschädigte Schreib-/Leseköpfe nach einem Headcrash (meist "klackernde Geräusche" z.B. typisch nach einem Sturz)
- beschädigte Oberflächen, die zu schlecht lesbaren Bereichen sowohl in Userarea als auch Servicearea führen
- defektes PCB (z.B. durch das Verwenden eines falschen Netzteils)
- fehlerhafte ServiceArea bzw. Systemfiles ("Firmware Bug", oftmals korrupte Fehlerlisten)
<span class="text-white">
<span class="font-semibold text-base md:text-xl">Vorgehensweise der Datenrettung Festplatte:</span>
❶ Fehlerdiagnose: hierfür werden z.B. über ein COM Terminal Fehlermeldungen und ROM (z.B. ServoError, SIM Error, etc.) ausgelesen.
❷ Reparatur unter Reinraumbedingungen: die HDD von fehlerhaften mechanischen Bauteilen befreit (oftmals Schreib-/Leseköpfe) und ServiceArea bzw. Systemfiles werden modifiziert, bis der Zugriff auf Ihre Dateien möglich ist.
❸ Auslesen: Die Daten der Festplatte werden Sektor für Sektor ausgelesen.
    
<span class="font-semibold text-base md:text-xl">Typische Arbeiten dabei sind:</span>
<span class="underline">- mikroskopische Analyse und Austausch der Schreib-/Leseköpfe:</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
<img class="h-80 object-cover object-center" src="assets/HDDarbeitsweise_head.JPG">
<img class="h-80 object-cover object-right" src="assets/hdd_arbeitsweise_headreplacement.jpg">
</div>
Der Zustand der Sensoren gibt direkt Auskunft über den Zustand der jeweiligen Oberfläche.
Sollten hier Schleifspuren sichtbar sein spricht das für eine ebenfalls beschädigte Oberflächenstruktur.
Entscheidend für den Datenrettungserfolg ist der Zustand der einzelnen Oberflächen.
    
Der Abstand zwischen Sensoren und der jeweiligen Oberfläche beträgt gerade mal 0,004µm.
Im Vergleich:
Fingerabdruck ~4µm
Staubkorn ~10µm
Haar ~70µm
    
Jede Veruneinigung beschädigt daher potenziell Oberfläche und Leseköpfe.
    
<span class="underline">- Arbeiten an der ServiceArea bzw. Systemfiles und BOOT-ROM:</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
      <img class="h-80 object-cover object-left" src="assets/articles/sa-1.PNG">
      <img class="h-80 object-cover object-left" src="assets/articles/sa-2.PNG">
    </div>
Bei einem Headcrash kommt es zur Berührung zwischen Schreib-/Lesekopf und der jeweligen Oberfläche.
Dabei wird die Oberfläche gerne auch im Bereich der Servicearea beschädigt.
Servicemodule werden dadurch für die Festplatte nicht mehr lesbar, was der Funktion schadet.
Unsere Aufgabe ist daher diese beschädigten Module zu reparieren und zu einer anderen Stelle zu verschieben.
    
<span class="underline">- Plattern Swap, z.B. um den Motor zu tauschen oder die Oberflächen nach Beschädigungen zu inspizieren:</span>
    <div class="flex grid-cols-3 flex-wrap gap-4">
      <img class="h-80 object-cover object-right" src="assets/articles/platternswap_1.jpg">
      <img class="h-80 object-cover object-center" src="assets/articles/platternswap_2 (2).jpg">
    </div>
Als Alternative zur Analyse der Schreib-/Leseköpfe kann man auch die Oberflöchen direkt inspizieren.
Das ist z.B. nötig, wenn die Festplatte bereits woanders neue Schreib-/Leseköpfe bekommen hat und die Originalen nicht mehr vorhanden sind.
Auch nutzt man diese Technik, wenn der Motor getauscht werden muss.
    
    <span class="underline">- Austausch und Anlernen des PCB (printed circuit board):</span>
    <div class="flex grid-cols-3 flex-wrap gap-4">
      <img class="h-80 object-cover object-center" src="assets/HDD_arbeitsweise_PCB2.jpg">
      <img class="h-80 object-cover object-center" src="assets/HDD_arbeitsweise_PCB1.jpg">
    </div>
Bei modernen Festplatten muss für ein Austausch in der Regel immer die originale BOOT-ROM auf das neue PCB übertragen werden.
Grund dafür sind viele verschiedene FW Versionen und festplattenspezifische (adaptive) Module innerhalb der BOOT-ROM.
Bei einigen Festplattenmodellen wird die ServiceArea mit einer Verschlüsselung (z.B. SED bei WD) gesichert.
Um hier dennoch die nötigen Arbeiten durchführen zu können gibt es spezielle "unlocked PCBs".
    
<span class="underline">- die Herstellung von Werkzeuge für die Datenrettung:</span>
    <div class="flex grid-cols-3 flex-wrap gap-4">
      <img class="h-80 object-cover object-right" src="assets/1640221182228.jpg">
      <img class="h-80 object-cover object-center" src="assets/Chitubox.PNG">
    </div>
Nicht für jedes Festplattenmodell gibt es passendes Werkzeug zum Austausch der Schreib-/Leseköpfe direkt zu Kaufen.
Vorallen moderne Festplatten wie Seagate Rosewood und co. bieten hier nur sehr wenig Platz im Inneren.
Eigenes Werkzeug mit einer Genauigkeit von 35µm Herstellen zu können bringt daher einige Vorteile.
    
    <span class ="underline">-Alle Arbeiten werden ausschließlich unter Reinraumbedingungen nach DIN 14644-1 ISO 5, ESD-geschützt und vor Ort durchgeführt:</span>
    <img class="h-80 object-cover object-right" src="assets/hdd_arbeitsweise_4.jpg">
Die Kabine erzeugt ein Überdruck durch ein HEPA Filter des Typs H14.
Dieser besitzt einen Abscheidegrad von 99,995%. Das bedeutet, dass der Filter bei einer Partikelgröße von 0,12 μm (nach MPPS) mindestens 99,995% aller Partikel herausfiltert. Der Überdruck verhindert, dass von außerhalb Partikel hineinfallen können.
    
    <span class ="font-semibold text-base md:text-xl">Beispiele spektakulärer Schäden:</span>
    
    <div class="flex grid-cols-3 flex-wrap gap-4">
❶<img class="h-80 object-cover object-right" src="assets/articles/wasserschaden.jpg">
❷<img class="h-80 object-cover object-right" src="assets/articles/1648419003590-min.jpg">
❸<img class="h-80 object-cover object-right" src="assets/articles/1648418965066-min.jpg">
    </div>
❶ Wasserschäden
❷ stark Verformte/zerfetzte Schreib-/Leseköpfe
❸ Beschädigte Oberflächen
    
Festpreisliste nach von Ihnen definierten Erfolg:
Defekte HDD-Festplatte bis 500GB Festplattenkapazität: 299,00 €*
Defekte HDD-Festplatte bis 1TB Festplattenkapazität: 349,00 €*
Defekte HDD-Festplatte bis 2TB Festplattenkapazität: 399,00 €*
Defekte HDD-Festplatte bis 4TB Festplattenkapazität: 499,00 €*
Defekte HDD-Festplatte bis 6TB Festplattenkapazität: 625,00 €*
*bereits inkl. 19% Mehrwertsteuer

</pre>
</pre>
</div>
</div>