<div>
    <div class="bg-white text-center">
        <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Datenrettung Kostenvorteil</h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap px-3">
<h2 class="font-bold text-xl">Vorteil gegenüber Mitbewerber</h2><span class="font-semibold text-sm md:text-lg text-silver">Updated am 28.06.2022, 22:03 von Tobias Jungbauer</span>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold">➀ Die Vorgehensweise bei unseren Konkurrenten ist äußerlich wie folgt:</span> Analyse -> Kostenvoranschlag -> Datenrettung.
Auf dem ersten Blick erscheint dieses Modell sinnvoll, doch ist es aus Datenrettungssicht nicht.

In einer echten Analyse sind bereits alle aufwendigen Schritte zur Datenrettung enthalten. 
Es ist daher teuer Analysen durchzuführen, wenn der Kostenvoranschlag danach womöglich abgelehnt wird.

Aus diesem Grund werden auf dem Markt zum einem entweder kostenpflichtige Analysen, in der Sie die Arbeit in Wirklichkeit bereits vollständig bezahlen (<a href="https://www.jungbauerdatenrettung.de/blog/sonnet-raid-5-datenrettung" class="underline"
    >Beispiel</a>), oder leider (viel schlimmer) komplett falsche "kostenfreie Analysen" gestellt, die nur auf plausible Vermutungen basieren.

Es ist gängige Praxis, dass vermeitlich seriösen Firmen defekte Schreib-/Leseköpfe diagnostizieren, beschädigte Oberflächen (für HDD-Festplatten der "worst case"!) oder Schäden in der Servicearea, obwohl die Speicher das nicht haben.

Durch das Suggerieren, dass es sich um einen besonders schwierigen Fall handelt, werden danach ungerechtfertigte Preise auch noch oftmals akzeptiert. 

Die ernüchternde Realität in der Branche ist, dass bei nahezu allen Firmen, zunehmend auch die, die eigentlich Geld dafür nahmen, überhaupt keine echten Analysen durchgeführt werden, sondern nur Standardtexte formuliert wie "[...] es wurden Beschädigungen an Schreib-/Leseköpfe festgestellt [...].".
Es werden mit diesen Standardtexten auf vermeitliche allgemeine Erfolgsqouten im Unternehmen verwiesen, die denken lassen sollen, dass dies auch für den spezifischen Fall gilt.

Mit unseren<a href="https://www.jungbauerdatenrettung.de/preise" class="underline"
>Festpreisen</a> nach Datenträgertyp und -größe sind alle Kundenaufträge auch mit einem konkreten Durchführungsauftrag verbunden. Dadurch entstehen keine unnötigen Analysekosten und Zeitaufwand, sodass diese im Vergleich günstigen Preise entstehen können.
Dabei sparen wir uns die Analysekosten und können konkurrenzfähig bleiben, ohne auf für uns nicht akzeptable "Fake-Analysen" zurückgreifen zu müssen.
Die Abhängigkeit an den Erfolg, den Sie im Voraus selbst definieren (z.B. "Ordner x" am wichtigsten), sorgt dabei dafür, dass perfekte Ergebnisse erzielt werden müssen. </span>

<span class="font-semibold underline">Weitere Kostenvorteile:</span>
<span class="font-semibold">➁ Geringe Kosten für das Marketing:</span>
Die komplette Website und alle anderen Werbemittel sind mit eigener Kraft eingerichtet und durchgeführt, d.h. ohne z.B. externe Marketingfirmen. Nur ein kleiner Teil erfolgt mittels Google Ads. Die meisten Aufträge kommen dankenswerterweise von Empfehlungen und B2B Geschäften.
</span>
<span class="font-semibold">➂ Keine externen Dienstleister / Provisionskosten:</span>
Sie sind hier beim Anbieter, der die Arbeit selber durchführt und haben diesen als Ansprechpartner. Dabei wird alles vollständig hier in Ingolstadt vor Ort durchgeführt. 

<span class="font-semibold">➃ Vollauslastung der Hardware:</span>
Dass das Equipment zur Datenrettung sehr teuer ist unterschätzen viele. Für das "Standardequipment" als Einstieg zahlt man für die HDD Datenrettung alleine einen fünstelligen Betrag.
Grundsätzlich bietet z.B. ein PC-3000 UDMA nur zwei Anschlüsse, ein PC-3000 Flash aber nur einen, sodass Aufträge hintereinander bearbeitet werden müssen.
Anstelle Fixkosten mit wenigen Aufträgen zu finanzieren, arbeite ich nahezu 24/7 an der Kapazitätsgrenze der Hardware.

Eine hohe Auslastung ohne Leerlauf ermöglicht es, die laufenden Fixkosten zu relativieren.

Wichtige Anmerkung: Sollte es sich bei Ihrem Auftrag um einen zeitkritischen handeln, wird dieser ohne Mehrkosten vorgezogen.
Für der Fairness gegenüber anderer Kunden bitte ich hier jedoch ehrlich über der zeitlichen Dringlichkeit zu bleiben.

Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
    </pre>
    </pre>
    </div>
</div>
