<div
      class="py-10 bg-right bg-gray-main bg-cover bg-no-repeat"
      style="background-image: url('/assets/hdd_arbeitsweise.png')"
    >
      <div class="flex md:ml-32 py-10 justify-center md:justify-start">
        <h2
          class="text-2xl md:text-4xl leading-relaxed text-center text-silver text-shadow"
        >
          Tobias<br />Jungbauer<br />Datenrettung
        </h2>
      </div>
    </div>
    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
        Professionelle Datenrettung transparent und fair
      </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver pb-8">
      <div class="container py-8 px-3">
        <span class=" text-xl md:text-2xl font-bold"
          >Ingolstadt: Professionelle Datenrettung transparent und fair</span
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 21.11.22, 06:05 von Tobias Jungbauer</span> </pre>

<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold text-base md:text-xl">Trotz der zunehmenden Zuverlässigkeit von Speichergeräten und ihrer Fähigkeit, digitale Informationen zu speichern, sind Datenverluste immer noch ein häufiges Problem. Dateiverluste können durch menschliches Versagen, Softwareeinflüsse, Stromausfälle und Hardwaredefekte verursacht werden.
  

<span class="font-semibold text-base md:text-xl">Bei welchen Daten können wir helfen?</span>
Datenrettung von Festplatten wie HDD- und SSD-Speicher, USB-Sticks oder SD-Karten, RAID/NAS-Servern sowie bei Micro-SD-Karten.
Insbesondere auch für Speichermedien, die überhaupt nicht mehr reagieren oder mechanische Beschädigungen aufweisen.


<span class="font-semibold text-base md:text-xl">Was bedeutet das?</span>
1.	Datenrettung mit neueste Datenrettungstechnologie von ACE Lab, HDD Surgery und Dolphin Lab.
2.	ESD-geschützt und nach DIN 14644-1 ISO 5 Reinraumklasse für HDD-Festplatten.
3.	Alle Arbeiten werden vor Ort in Ingolstadt unter Laborbedingungen durchgeführt.

<span class="font-semibold text-base md:text-xl">Wie hoch sind die Preise?</span>
Die Preise richten sich nach Speichertyp und Größe. Außerdem wird in „einfache“ und „schwierige“ Fälle unterschieden. Hier finden Sie direkt die Preise: 
Sie zahlen nur nach Erfolg, den Sie vorher definiert haben (z.B. "Ordner x" am wichtigsten).
Es gibt keine Vorauszahlungen, Analysekosten oder versteckte Gebühren.
Hier finden Sie direkt unsere Preise: <div class="flex pt-4"><button class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Preisliste</a></button></div>

<div class="text-white text-sm md:text-xl py-8">
Falls Fragen bestehen rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </div>
      </div>
    </div>
  