<div>
    <div class="bg-white text-center">
        <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Vorteile gegenüber Mitbewerber</h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap px-3">
<h2 class="font-bold text-xl">Vorteile gegenüber Mitbewerber</h2><span class="font-semibold text-sm md:text-lg text-silver">Updated am 09.10.2022, 18:00 von Tobias Jungbauer</span>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
Die Vorgehensweise bei Mitbewerber ist äußerlich wie folgt: Analyse -> Kostenvoranschlag -> Datenrettung.
Als Laie erscheint das Modell sinnvoll und fair, doch ist es aus Datenrettungssicht und in der Marktpraxis nicht.

In einer echten Analyse sind bereits alle aufwendigen Arbeitsschritte zur Datenrettung enthalten (Analyse Sensoren Schreib-/Leseköpfe > Austausch Schreib-/Leseköpfe). 
Es ist daher höchst unrentabel echte kostenfreie Analysen durchzuführen, wenn der Kostenvoranschlag danach abgelehnt werden kann.

Aus diesem Grund werden mit diesem Konzept auf dem Markt zum einem entweder kostenpflichtige Analysen, in der Sie die Arbeit bereits nahezu vollständig bezahlen (<a href="https://www.jungbauerdatenrettung.de/blog/sonnet-raid-5-datenrettung" class="underline"
    >Beispiel</a>) oder falsche "kostenfreie Analysen" gestellt, die nur auf plausible Vermutungen basieren.

Täglich diagnostizieren vermeitlich seriösen Firmen defekte Schreib-/Leseköpfe, beschädigte Oberflächen (für HDD-Festplatten der "worst case"!) oder Schäden in der Servicearea, obwohl die Speicher das nicht haben.
Durch das Suggerieren, dass es sich um einen besonders schwierigen Fall handelt werden danach ungerechtfertigte Preise auch noch oftmals akzeptiert. 
Es werden Standardtexte formuliert ("[...] es wurden Beschädigungen an Schreib-/Leseköpfe festgestellt [...].") und auf vermeitliche allgemeine Erfolgsqouten im Unternehmen verwiesen, die denken lassen sollen, dass dies auch für den spezifischen Fall gilt.

Im Gegensatz: bei mir gibt es keine Fake-Analysen und verfolge außerdem ein unübliches Konzept: Festpreise bei Erfolg.

Mit den Festpreisen bei Erfolg ist jede Einsendung auch mit einem konkreten Auftrag verbunden.
Dadurch entsehen keine Kosten für Analysen ohne folgenden Auftrag und es können alle Ressourcen direkt zur Durchführung der konkreten Datenrettung genutzt werden.

Im Schnitt erreichen wir einen 50% günstigeren Preis als zur Konkurrenz. Bei Härtefälle (Stichwort: "klickende" Festplatten) bis zu 75%.
Weitere Gründe für die günstigeren Preise sind kurze Vertriebsketten, ein geringes Budget für das Marketing, dem Verzicht auf externe Dienstleister und kein Versuch von maximaler Gewinnorientierung pro Auftrag.

Als Sicherheit für den Kunden gibt es eine Bezahlung nur bei Erfolg (ansonsten inkl. Rückversand zu 100% kostenfrei) und außerdem keine Vorkasse.



Falls Sie Fragen haben rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
    </pre>
    </pre>
    </div>
</div>
