<div>
    <div class="bg-white text-center">
        <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Ablauf der Datenrettung</h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap">
<h2 class="font-bold text-xl underline">micro SD-Karte gebrochen Datenrettung</h2>
<span class="text-bold text-sm md:text-lg text-silver">Updated am 02.01.2022, 10:04 von Tobias Jungbauer</span>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span>
Immer wieder versuchen Kunden im Gehäuse klemmendende micro SD-Karten mit Gewalt zu lösen und zerbrechen diese dabei.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/1641089398434.jpg">
    <img class="h-80 object-cover object-center" src="assets/1641089398416.jpg">
</div>
<span>
ALs erstes müssen wir uns einen Zugang zu der Gehäuserückseite verschaffen, an der wir ansetzen werden, um die Daten auszulesen.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/1641089398398.jpg">
</div>
<span>
Nun schließen wir mit Hilfe des Pinouts den Speicher an unser Spiderboard Adapter an und versuchen den Speicher anzusprechen.
Entscheidend ist, dass der Speicherchip selbst nicht durch den Knick Schaden genommen hat und alle nötigen Signale zum internen NAND zugänglich sind.
Nur dann kann bei gebrochenen micro SD-Karten eine Datenrettung erfolgreich sein.
</span>
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/1641089398381.jpg">
</div>
  <span>
Haben wir Direktzugriff zum Speicherchip können wir daraus die Kundendaten rekonstruieren.

</span>
</pre>
<div>
<span class="font-bold">Preisliste:</span>

{{#Defekte (micro) SD-Karte oder USB-Stick}}
{{#category}}{{name}}{{/category}} {{#name}}{{name}}{{/name}} {{#price}}{{price}}{{/price}}€
{{/Defekte (micro) SD-Karte oder USB-Stick}}
</div></pre>
    </div>
</div>
