<title>HDD Festplatten Datenrettung: Tobias Jungbauer</title>
<meta name="description" content="Nach einem Defekt können wir die Daten auf Ihrer HDD retten. Verlassen Sie sich auf unsere Datenwiederherstellung zum Festpreis."/>
<meta name="keywords" content="HDD-Festplatten retten"/>
<meta property="og:title" content="HDD Festplatten Datenrettung: Tobias Jungbauer"/>
<meta property="og:description" content="Nach einem Defekt können wir die Daten auf Ihrer HDD retten. Verlassen Sie sich auf unsere Datenwiederherstellung zum Festpreis."/>
<meta property="og:keywords" content="HDD-Festplatten retten"/>
<meta property="image" content="https://www.jungbauerdatenrettung.de/assets/hdd_arbeitsweise_headreplacement.jpg" alt="Datarecovery"/>
<meta property="name" content="Tobias Jungbauer Datenrettung & IT-Forensik" />
<meta property="founder" content="Tobias Jungbauer" />
<meta property="areaServed" content="Bayern" />
<meta property="telephone" content="084112840705" />
<meta property="email" content="info@jungbauerdatenrettung.de" />
<meta property="address" content="Am Stein 9, 85049 Ingolstadt" />
<meta property="bestRating" content="5" /> 

<div class="bg-white text-center">
    <h2 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
        HDD Festplatten Datenrettung
    </h2>
</div>


<div class="bg-gray-main text-white border-b-2 border-silver pb-8">

    <div class="container py-8 px-3">
        <h1 class=" text-xl md:text-2xl font-bold"
        >HDD Festplatten Datenrettung unter Reinraumbedingungen</h1
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 19.04.23, 07:52 von Tobias Jungbauer</span> </pre>

        <pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold text-base md:text-xl">Datenrettung für HDD-Festplatten, die z.B.:</span>
- sich nicht mehr korrekt auslesen lassen bzw. nur sehr langsam reagieren
- oder überhaupt nicht mehr erkannt werden
- ggf. "klackern" oder "fiepsen" (mechanische Schäden)
- ggf. Fehlermeldungen ausgeben (wie CRC-Fehler oder E/A-Fehler)

Bitte öffnen Sie Ihre Festplatte nicht selbst und vermeiden Sie bei "klackern" weitere Einschaltvorgänge.
Für Fragen können Sie gerne unter 084112840705 (Mo.-Sa. 10.00-20.00 Uhr) anrufen. <div class="flex pt-4"><button
                class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a
                href="preise">Preisliste</a></button></div>

<span class="font-semibold text-base md:text-xl">Unsere Arbeiten:</span>
<span class="underline">mikroskopische Analyse und Austausch der Schreib-/Leseköpfe:</span>

<div class="flex grid-cols-3 flex-wrap gap-4">
<img class="h-80 object-cover object-center" src="assets/HDDarbeitsweise_head.JPG">
<img class="h-80 object-cover object-right" src="assets/hdd_arbeitsweise_headreplacement.jpg">
</div>
Der Zustand der Sensoren gibt direkt Auskunft über den Zustand der jeweiligen Oberfläche.
Sollten hier Schleifspuren sichtbar sein spricht das für eine ebenfalls beschädigte Oberflächenstruktur.
Entscheidend für den Datenrettungserfolg ist der Zustand der einzelnen Oberflächen.

Der Abstand zwischen Sensoren und der jeweiligen Oberfläche beträgt gerade mal 0,004µm.
Im Vergleich:
Fingerabdruck ~4µm
Staubkorn ~10µm
Haar ~70µm

Jede Veruneinigung beschädigt leider potenziell Oberfläche und Leseköpfe.

<span class="underline">Arbeiten an der ServiceArea bzw. Systemfiles und Boot-ROM:</span>

<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-left" src="assets/articles/sa-1.jpg">
  <img class="h-80 object-cover object-left" src="assets/articles/sa-2.jpg">
</div>
Bei einem Headcrash kommt es zur Berührung zwischen Schreib-/Lesekopf und der jeweligen Oberfläche.
Dabei kann die Oberfläche auch im Bereich der Servicearea beschädigt werden.
Servicemodule werden dadurch für die Festplatte nicht mehr lesbar, was den Datenzugriff hindert.
Unsere Aufgabe ist daher beschädigten Module manuell zu reparieren und entsprechende Updates durchzuführen.

<span class="underline">Plattern Swap, um Oberflächen nach Beschädigungen zu inspizieren oder Motor zu tauschen:</span>

<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-right" src="assets/articles/platternswap_1.jpg">
  <img class="h-80 object-cover object-center" src="assets/articles/platternswap_2 (2).jpg">
</div>
Als Alternative zur Analyse der Schreib-/Leseköpfe kann auch die Oberflächen direkt inspiziert werden.
Das ist z.B. nötig, wenn die Festplatte bereits woanders neue Schreib-/Leseköpfe bekommen hat und die originalen Bauteile nicht mehr vorhanden sind.
Auch nutzt man diese Technik, wenn der Motor getauscht werden muss.

<span class="underline">Austausch und Anlernen des PCB (printed circuit board):</span>

<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-center" src="assets/HDD_arbeitsweise_PCB2.jpg">
  <img class="h-80 object-cover object-center" src="assets/HDD_arbeitsweise_PCB1.jpg">
</div>
Bei modernen Festplatten muss für ein Austausch des PCB die originale Boot-ROM auf das neue PCB übertragen werden.
Grund dafür sind verschiedene FW Versionen und festplattenspezifische (adaptive) Module innerhalb der Boot-ROM.
Bei einigen Festplattenmodellen wird die ServiceArea, als auch die Userarea, mit einer Verschlüsselung (z.B. SED bei WD) gesichert.
Um hier dennoch die nötigen Arbeiten durchführen zu können gibt es entsprechende Adapter und einen Patch zum Entsperren der ROM.

<div class="flex grid-cols-3 flex-wrap gap-4">
<img class="h-80 object-cover object-center" src="assets/articles/sed-pcb.jpg">
<img class="h-80 object-cover object-right" src="assets/articles/2022-02-09.jpg">
</div>
<span class="underline">die Herstellung von Werkzeuge für die Datenrettung:</span>

<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-right" src="assets/1640221182228.jpg">
  <img class="h-80 object-cover object-center" src="assets/Chitubox.jpg">
</div>
Nicht für jedes Festplattenmodell gibt es passendes Werkzeug zum Austausch der Schreib-/Leseköpfe direkt zu kaufen.
Vor allen moderne Festplatten wie Seagate Rosewood und co. bieten hier nur sehr wenig Platz im Inneren.
Eigenes Werkzeug mit einer Genauigkeit von 35µm Herstellen zu können bringt daher einige Vorteile.

<span class="underline">Alle Arbeiten werden ausschließlich unter Reinraumbedingungen nach DIN 14644-1 ISO 5, ESD-geschützt und vor Ort durchgeführt:</span>

<img class="h-80 object-cover object-right" src="assets/hdd_arbeitsweise_4.jpg">
Die Kabine erzeugt ein Überdruck durch ein HEPA Filter des Typs H14.
Dieser besitzt einen Abscheidegrad von 99,995%. Das bedeutet, dass der Filter bei einer Partikelgröße von 0,12 μm (nach MPPS) mindestens 99,995% aller Partikel herausfiltert. Der Überdruck verhindert, dass von außerhalb Partikel hineinfallen können.

<span class="font-semibold text-base md:text-xl">Beispiele erfolgreicher spektakulärer Schäden:</span>

<div class="flex grid-cols-3 flex-wrap gap-4">

1. <img class="h-80 object-cover object-right" src="assets/articles/1648419003590-min.jpg">
2. <img class="h-80 object-cover object-right" src="assets/articles/1648418965066-min.jpg">
</div>
 
1. stark Verformte/zerfetzte Schreib-/Leseköpfe
2. verkratzte Oberflächen

<h2 class="font-semibold text-base md:text-xl">Wie hoch sind die Kosten für die professionelle Datenrettung?</h2>
Die Festpreise sind aufgeteilt in "<a href="/datenrettung/einschätzung" class="underline">einfache</a>" und "<a href="/datenrettung/einschätzung" class="underline">komplexe</a>" Fälle.
Bezahlung erfolgt nur nach Erfolg (95%+ oder Bestätigung nach Einsicht zur Übernahme des Ergebnisses). Alle Kosten wie z.B. auch Teilespender oder Leihdatenträger sind bereits im Festpreis inklusive.
Es handelt sich um Endpreise. D.h. es sind ausdrücklich keine "ab Preise".

Alle Festpreise finden Sie transparent im Voraus unter <a href="/preise" class="underline">Preise</a>.



        <h2 class="text-base md:text-xl underline font-bold my-6">Professionelle Hard- Und Software</h2><pre
                class="whitespace-pre-wrap text-sm md:text-xl py-8">
Das PC-3000 UDMA ist eine Hardware-Software-Lösung zur Diagnose und Reparatur von Festplatten auf Basis von SATA- (Serial ATA) und ATA- (IDE) Schnittstellen für zahlreiche Hersteller (Seagate, Western Digital, Fujitsu, Samsung, Maxtor, Quantum, IBM (HGST) ), HITACHI, TOSHIBA), für verschiedene Kapazitäten (von 500 MB bis 8 TB) und verschiedene Formfaktoren: 3,5 "- Desktop-Laufwerke, 2,5" - und 1,8 "- Laptop-Laufwerke.
Das PC-3000 UDMA bildet zusammen mit dem Data Extractor UDMA das PC-3000 UDMA Professional-System, mit dem Daten von der SATA-, ATA- (IDE-) Festplatte wiederhergestellt werden können. Wenn Sie Ihre Festplatte reparieren lassen möchten, benötigen Sie eine Lösung wie durch das PC-3000 UDMA. </pre>
Ein zweikanaliger Spannungsversorgungsadapter befindet sich auf der Platinensteuerung und bietet eine unabhängige Spannungsversorgung von +5 V, +12 V sowie Schutz vor Überspannungs- und Stromüberlastung. Im Notfall wird die Stromversorgung der Festplatte automatisch abgeschaltet.
Zusätzlich verfügt jeder Kanal über eine Rückkopplungsschaltung mit spezieller Verwaltungssoftware, die die Versorgungsspannungswerte steuert und den Benutzer über Probleme mit der Speiseschaltung informiert.
</pre>
        <div class="flex grid sm:grid-cols-2 text-sm md:text-xl grid-cols-1">
            <div class="overflow-hidden">
                <label class="">
                    <img src="assets/pc3000udma.webp" alt="pc3000udma"/>
                    Bildquelle: https://www.acelaboratory.com/pc3000.udma.php
                </label>
            </div>
        </div>

        <div class="text-white text-sm md:text-xl py-8">
            Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705
            an oder schreiben eine Email an: info@jungbauerdatenrettung.de
            <div class="flex pt-4"><button
              class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a
              href="">Zurück zur Startseite</a></button></div>
        </div>
    </div>
</div>
