<div
      class="py-10 bg-right bg-gray-main bg-cover bg-no-repeat"
      style="background-image: url('/assets/hdd_arbeitsweise.png')"
    >
      <div class="flex md:ml-32 py-10 justify-center md:justify-start">
        <h2
          class="text-2xl md:text-4xl leading-relaxed text-center text-silver text-shadow"
        >
          Tobias<br />Jungbauer<br />Datenrettung
        </h2>
      </div>
    </div>
    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
        Datenrettung NAS: Transparent, professionell und fair
      </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver pb-8">
      <div class="container py-8 px-3">
        <span class=" text-xl md:text-2xl font-bold"
          >Datenrettung vom Profi: Vertrauen Sie uns Ihr NAS-System an
          </span
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 15.12.22, 06:05 von Tobias Jungbauer</span> </pre>

<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold text-base md:text-xl">Es gibt ganz unterschiedliche Ursachen, die eine Datenrettung bei einem NAS-System 
erforderlich machen. Defekte RAID-Controller, aber auch beschädigte Dateisysteme und 
ausgefallene Festplatten sorgen dafür, dass Sie auf Daten nicht mehr zugreifen können. 
Aber auch wenn das Serversystem überhitzt oder sich Hardware-Schäden eingeschlichen 
haben, ist ein Datenzugriff nicht mehr möglich. In diesem Fall ist zuverlässige und schnelle 
Hilfe gefragt. Verlassen Sie sich hier auf unsere Erfahrung und unser Angebot. Wir 
übernehmen unter Reinraumbedingungen die Datenrettung bei Ihrem NAS-System. 
    
  

<span class="font-semibold text-base md:text-xl">Datenrettung zum Festpreis </span>
Ganz egal ob ein mechanischer Schaden vorliegt oder Ihre RAID-Konfiguration 
versehentlich formatiert oder gelöscht wurde - wir können Ihnen kompetent und sicher 
helfen. Wir führen Ihre Datenrettung generell zum Festpreis durch. Sie wissen also von 
Anfang an, welche Kosten auf Sie zukommen. Bei uns richtet sich der Festpreis zudem nicht
nach der Sensibilität oder Wichtigkeit der Daten, sondern nach der Schadensart, wobei wir 
zwischen einem einfachen und schwierigen Schaden differenzieren. Übrigens müssen Sie 
bei uns für die Datenrettung bei Ihrem NAS-System nur dann zahlen, wenn wir Erfolg hatten.
Teilen Sie uns deswegen im Voraus bitte mit, welche Daten für Sie am wichtigsten sind. 



<span class="font-semibold text-base md:text-xl">Erfahrung, die sich auszahlt</span>
Eine erfolgreiche Datenrettung ist beim NAS-System immer davon abhängig, welche 
Methode angewendet wird. Auch die Erfahrung und Flexibilität spielen hier eine wichtige 
Rolle. Wir setzen an dieser Stelle auf den Einsatz mehrerer Festplatten. Diese werden auf 
virtueller Ebene zusammengesetzt. Diese Methode macht es möglich, dass wir auf den 
Einsatz von RAID-Controllern verzichten können. Zudem hat sie sich aufgrund der 
Sicherheit bewährt. Sie möchten gerne mehr erfahren? Dann setzen Sie sich mit uns in 
Verbindung!



<div class="text-white text-sm md:text-xl py-8">
Falls Fragen bestehen rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </div>
      </div>
    </div>
  