<div
      class="py-10 bg-right bg-gray-main bg-cover bg-no-repeat"
      style="background-image: url('/assets/hdd_arbeitsweise.png')"
    >
      <div class="flex md:ml-32 py-10 justify-center md:justify-start">
        <h2
          class="text-2xl md:text-4xl leading-relaxed text-center text-silver text-shadow"
        >
          Tobias<br />Jungbauer<br />Datenrettung
        </h2>
      </div>
    </div>
    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
        Faire und transparente Preise
      </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver pb-8">
      <div class="container py-8 px-3">
        <span class=" text-xl md:text-2xl font-bold"
          >Datenrettung: Unsere Preise überzeugen durch Transparenz 
          und Fairness
          </span
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 15.12.22, 06:05 von Tobias Jungbauer</span> </pre>

<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
Ob sich eine Datenrettung lohnt, ist nicht selten eine Frage des Preises. Bei vielen Anbietern
richten sich die Preise für die Arbeit der Experten insbesondere nach der Wichtigkeit der 
Daten und sind damit variabel. Wir möchten von Anfang an für Planbarkeit und Transparenz 
sorgen. Aus diesem Grund sind die Preise bei uns nicht von der Datenart und 
Datenwichtigkeit abhängig, sondern ausschließlich von der Art des Datenträgers und der 
Schadensart. Dabei unterteilen wir bei der Datenrettung die Preise nach einfachen und 
schwierigen Fällen. 
  

<span class="font-semibold text-base md:text-xl">Sie zahlen nur nach Erfolg</span>
Des Weiteren haben wir uns bei der Datenrettung für das Erfolgsmodell entschieden. Das 
heißt: Sie zahlen die vereinbarten Preise nur dann, wenn wir Erfolg hatten. Dabei definieren 
Sie vorab den Erfolg gemeinsam mit uns, indem Sie erklären, welche Daten am wichtigsten 
sind. Sie nennen uns in diesem Fall also einen bestimmten Ordner. Im Folgenden haben wir 
detailliert aufgeführt, wie sich für die Datenrettung die Preise bei einzelnen Datenträgern 
gestalten. So staffeln sich diese bei schwierigen Schäden in Abhängigkeit von der Speicher-
Größe. 


<span class="font-semibold text-base md:text-xl">Stufen Sie die Schäden der Datenträger richtig ein</span>
Bei der Datenrettung sind für unsere Preise die Schäden generell relevant. Von einfachen 
Schäden ist bei HDD-Festplatten beispielsweise die Rede, wenn diese einen Eingriff in den 
Reinraum nicht erforderlich machen. Sektorfehler, aber auch Firmwarebug und defektes 
PCB gehören also generell zu den einfachen Schäden. Wenn Lese- und Schreibköpfe 
beschädigt sind, muss dagegen in den Reinraum eingegriffen werden. In diesem Fall erfolgt 
die Abrechnung als schwieriger Schaden und die Höhe richtet sich nach der Kapazität der 
HDD-Festplatte. 


<span class="font-semibold text-base md:text-xl">Wie hoch sind die Preise?</span>
Die Preise richten sich nach Speichertyp und Größe. Außerdem wird in „einfache“ und „schwierige“ Fälle unterschieden. Hier finden Sie direkt die Preise: 
Sie zahlen nur nach Erfolg, den Sie vorher definiert haben (z.B. "Ordner x" am wichtigsten).
Es gibt keine Vorauszahlungen, Analysekosten oder versteckte Gebühren.
Hier finden Sie direkt unsere Preise: <div class="flex pt-4"><button class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Preisliste</a></button></div>
        

        <div class="text-white text-sm md:text-xl py-8">
            Bei Fragen rufen Sie gerne unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </div>
      </div>
    </div>