<div
      class="py-10 bg-right bg-gray-main bg-cover bg-no-repeat"
      style="background-image: url('/assets/hdd_arbeitsweise.png')"
    >
      <div class="flex md:ml-32 py-10 justify-center md:justify-start">
        <h2
          class="text-2xl md:text-4xl leading-relaxed text-center text-silver text-shadow"
        >
          Tobias<br />Jungbauer<br />Datenrettung
        </h2>
      </div>
    </div>
    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
        Datenrettung Preise
      </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver pb-8">
      <div class="container py-8 px-3">
        <span class=" text-xl md:text-2xl font-bold"
          >Wie hoch sind die Kosten für eine professionelle Datenwiederherstellung?</span
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 21.11.22, 06:05 von Tobias Jungbauer</span> </pre>

<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span class="font-semibold text-base md:text-xl">Preise der Datenrettung: Die Kosten für die Datenwiederherstellung hängen vom Ausmaß des Schadens und ggf. von der Datenträgerkapazität ab. 
    Um ein möglichst transparentes Preiskonzept anzubieten, teilen wir in „einfache Schäden“ (z.B. HDD: PCB defekt, Firmware etc.) und schwierige Schäden (z.B. HDD: Datenrettung im Reinraum) auf. 
    Hier finden Sie direkt zu unseren Preisen: <div class="flex pt-4"><button class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Preisliste</a></button></div>

<span class="font-semibold text-base md:text-xl">Welche Faktoren bestimmen den Preis?</span>
Das Ausmaß der Beschädigung des Datenträgers (z.B. Oberflächenzustand bei HDD) ist der wichtigste Faktor bei der professionellen Datenrettung. 
Um es für unsere Kunden einfacher zu gestalten, unterscheiden wir unsere Preise in zwei Klassen: „einfache Schäden“ und „schwierige Schäden“. 

Die Kosten für die Datenrettung bei „schwierigen Schäden“ hängen zudem von der Kapazität des Datenträgers ab. 
Andere Faktoren wie hohes Alter oder Verschlüsselungen (Stichwort SED z.B. in WD My Passport) haben bei uns keinen negativen Einfluss auf den Preis.

Einfache Schäden sind für uns bei HDD-Speicher z.B.: 
-	Sektorfehler
-	Firmwarefehler / Bugs 
-	Beschädigte äußere Elektronik / PCB

Schwierige Schäden:
-	Selbst geöffnete Festplatten
-	Beschädigte Schreib-/Leseköpfe
-	Verkratzte Oberflächen 

<span class="font-semibold text-base md:text-xl">Woher kommt der Preis für die Datenrettung?</span>
Professionelle Datenrettung erfordert ein hohes Maß an Fachwissen. Eine professionelle Datenrettung erfordert eine umfangreiche Ausrüstung und hochspezialisierte Datenrettungstools. 
Defekte Festplatten können nur in einer staubfreien Umgebung sicher repariert werden. 
Deshalb ist es wichtig, über die richtige Ausrüstung und Reinraumkapazitäten für die Festplattenwiederherstellung zu verfügen.

Das bekannteste Tool für die professionelle Datenrettung ist bei HDD-Speicher z.B. das ACE-Lab PC-3000 UDMA.


        <h2 class="text-base md:text-xl underline font-bold my-6">ACE-Lab PC-3000 UDMA</h2><pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
Das PC-3000 UDMA ist eine Hardware-Software-Lösung zur Diagnose und Reparatur von Festplatten auf Basis von SATA- (Serial ATA) und ATA- (IDE) Schnittstellen für zahlreiche Hersteller (Seagate, Western Digital, Fujitsu, Samsung, Maxtor, Quantum, IBM (HGST) ), HITACHI, TOSHIBA), für verschiedene Kapazitäten (von 500 MB bis 8 TB) und verschiedene Formfaktoren: 3,5 "- Desktop-Laufwerke, 2,5" - und 1,8 "- Laptop-Laufwerke.
</pre>
        <div class="flex grid sm:grid-cols-2 text-sm md:text-xl grid-cols-1">
          <div class="overflow-hidden">
            <label class="">
              <img src="assets/pc3000udma.webp" alt="pc3000udma" />
              Bildquelle: https://www.acelaboratory.com/pc3000.udma.php
            </label>
          </div>
        </div>

        <div class="text-white text-sm md:text-xl py-8">
            Bei Fragen rufen Sie gerne unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </div>
      </div>
    </div>