<div
      class="py-10 bg-right bg-gray-main bg-cover bg-no-repeat"
      style="background-image: url('/assets/hdd_arbeitsweise.png')"
    >
      <div class="flex md:ml-32 py-10 justify-center md:justify-start">
        <h2
          class="text-2xl md:text-4xl leading-relaxed text-center text-silver text-shadow"
        >
          Tobias<br />Jungbauer<br />Datenrettung
        </h2>
      </div>
    </div>
    <div class="bg-white text-center">
      <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">
        Datenrettung RAID-System: Transparent, professionell und fair

      </h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver pb-8">
      <div class="container py-8 px-3">
        <span class=" text-xl md:text-2xl font-bold"
          >Datenrettung bei Ihrem RAID-System: Setzen Sie auf 
          Kompetenz und Erfahrung 
          
          </span
        >
        <pre class="whitespace-pre-wrap py-2">
<span class="whitespace-pre-wrap py-2 text-bold text-sm md:text-lg text-silver">Updated am 15.12.22, 06:05 von Tobias Jungbauer</span> </pre>

<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
Geht es um die Datenrettung auf Ihrem RAID-System ist schnelle, aber kompetente und zuverlässige Hilfe gefragt. 
Vertrauen Sie an dieser Stelle auf uns! 

Wir setzen auch bei der RAID-Datenrettung auf eine transparente und sichere Abwicklung. 
Für Sie arbeiten wir zum vereinbarten Festpreis, der nur dann fällig wird, wenn wir wirklich Erfolg haben. 
Dabei teilen Sie uns vorab mit, welche Daten auf Ihrem RAID-System besonders wichtig sind. 
Die Datenrettung ist für RAID-Systeme z.B. nach einem gescheiterten Rebuildversuch.
    
  

<span class="font-semibold text-base md:text-xl">Wir setzen auf kompetente und schnelle Hilfe</span>
Wir helfen Ihnen bei verschiedenen Schäden an Ihrem RAID-System kompetent und professionell weiter. So können Sie sich uns anvertrauen, 
wenn ein Rebuild nicht mehr möglich ist, aber auch wenn dieser bereits scheiterte. 
Zudem können wir Ihnen helfen, wenn es bei einem RAID-Controller ein Defekt vorliegt sowie einzelne oder mehrere Volumen beschädigt sind. 
In vielen Fällen ist uns die erfolgreiche Wiederherstellung und damit die Datenrettung auf dem RAID-System bereits gelungen. 



<span class="font-semibold text-base md:text-xl">So gehen wir bei der Datenrettung bei Ihrem RAID-System vor</span>
Wir setzen bei der Datenrettung bei Ihrem RAID-System auf eine bewährte und erprobte Vorgehensweise. 
So greifen wir direkt auf die einzelnen Festplatten zurück. 

Der RAID-Controller wird in diesem Fall nicht mehr benötigt. Die Festplatten machen es möglich, die Dateien auf virtueller Ebene ohne eine Veränderung wieder zusammenzusetzen. 
Diese Methode hat sich aufgrund ihrer Sicherheit bewährt und wird von uns deswegen einem Rebuild ohne Backup vorgezogen. 
Generell kann diese Vorgehensweise auch dann angewendet werden, wenn die RAID-Typ-Konfiguration nicht bekannt ist oder wenn die Reihenfolge der einzelnen Datenträger durcheinander gebracht wurde. 


<div class="text-white text-sm md:text-xl py-8">
Falls Fragen bestehen rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </div>
      </div>
    </div>
  