<div>
    <div class="bg-white text-center">
      <h1 class="text-4xl text-black py-5 tracking-wider">Sonnet Fusion RX1600Fibre Rackmount RAID Datenrettung:</h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
      <pre class="container whitespace-pre-wrap">
  <h2 class="font-bold text-xl underline">Sonnet Fusion RX1600Fibre Rackmount 32x 2TB HDD als RAID 5:</h2><span class="text-bold text-lg text-silver">Updated am 31.03.2022, 22:04 Uhr von Tobias Jungbauer</span>
  cooming soon!
  </div>