<title>Unterteilung der Schwierigkeit der Datenrettung </title>
<meta name="description" content="Geht es um die zuverlässige und professionelle Datenwiederherstellung sind Sie bei Tobias Jungbauer - Ihrem Datenretter in Ingolstadt richtig."/>
<meta name="keywords" content="schwierige Datenrettung, einfache Datenrettung"/>
<meta property="og:title" content="Unterteilung der Schwierigkeit der Datenrettung"/>
<meta property="og:description" content="Geht es um die zuverlässige und professionelle Datenwiederherstellung sind Sie bei Tobias Jungbauer - Ihrem Datenretter in Ingolstadt richtig."/>
<meta property="og:keywords" content="schwierige Datenrettung, einfache Datenrettung"/>
<meta property="image" src="https://lh3.googleusercontent.com/p/AF1QipPZN0iPGU0kapKsKYK_8za0w-eKvHn4-thuB5rS=s680-w680-h510" alt="Datarecovery"/>
<meta property="name" content="Tobias Jungbauer Datenrettung & IT-Forensik" />
<meta property="founder" content="Tobias Jungbauer" />
<meta property="areaServed" content="Bayern" />
<meta property="telephone" content="084112840705" />
<meta property="email" content="info@jungbauerdatenrettung.de" />
<meta property="address" content="Am Stein 9, 85049 Ingolstadt" />
<meta property="bestRating" content="5" /> 

<div>
    <div class="bg-white text-center">
        <h1 class="text-2xl md:text-4xl text-black py-5 tracking-wider">Unterteilung der Schäden</h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
    <pre class="container whitespace-pre-wrap px-3">
<h2 class="font-bold text-xl"></h2><span class="text-bold text-sm md:text-lg text-silver">Updated am 06.05.2023, 09:14 von Tobias Jungbauer</span>
<pre class="whitespace-pre-wrap text-sm md:text-xl py-8">
<span>
Viele Schäden bei denen Sie mit z.B. handelsüblicher Datenrettungssoftware keine Lösung finden können, sind in der professionelle Datenrettung dennoch "einfach" lösbar. 
Um das Angebot fair zu gestalten teile ich alle Fälle in "standard" und "komplex" mit unterschiedlichen Festpreisen auf.

➀ HDD-Festplatte:
<span class="text-underline">Standard" sind hier alle Schäden, die keine Reparatur im Reinraum erfordern:</span>

- z.B. Festplatten mit Sektorfehlern:
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/articles/Sektorfehler.PNG"></div>
- z.B. Firmwarebugs / beschädigte ServiceArea:
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/arbeitsweise_hdd_SA.PNG"></div>
- z.B. beschädigte äußere Eletronik (PCB):
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/HDD_arbeitsweise_PCB2.jpg"></div>

<span class="text-underline">Als "komplex" definiere ich bei HDD-Festplatten die Reinraumdatenrettungen:</span>

- z.B. selbstgeöffnete / verunreinigte Festplatten (innere Metallgehäuse):
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/articles/1668559326912-min.jpg"></div>
- z.B. beschädigte Schreib-/Leseköpfe (typisch: "klackernd"):
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets\header_main\header_(8).webp"></div>
- z.B. beschädigte Oberflächen:
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/articles/1668559780435-min.jpg"></div>
- z.B. Festplatten mit defekten Motor / benötigter Platternswap:
<div class="flex grid-cols-3 flex-wrap gap-4">
    <img class="h-80 object-cover object-right" src="assets/hdd4.jpg"></div>
<br>
➁ SSD-Speicher:
<span class="text-underline">"Standard" sind hier alle SSD Fälle, die keine Hardwarereparatur erfordert:</span>
Ein Indiz dafür ist, ob die SSD noch im Bios / Datenträgerverwaltung angezeigt wird oder nicht:

- z.B. Sektorfehler (SMART)
- z.B. Firmwarebugs

Anders als bei HDD Speicher fallen nahezu alle SSD-Fälle in die Kategorie "Standard". 
Hardwaredefekte wie z.B. Überspannung und Wasserschäden sind hier selten.

<span class="text-underline">Als "komplex" definiere ich:</span>

- Hardwareschäden / kein Statusregister z.B. nach Wasserschaden, Überspannung oder Brand

<br>
➂ USB-Stick & (micro)SD-Karten:
<span class="text-underline">"Standard" sind hier die Fälle, die noch einen Zugriff auf die Userarea ohne Chip-OFF Verfahren zulassen:</span>
Ein Indiz ist dafür ebenfalls oftmals, ob der Speicher noch im Bios / Datenträgerverwaltung angezeigt wird oder nicht:

- z.B. Sektorfehler
- z.B. beschädigtes Dateisystem 

<span class="text-underline">Zu "komplex" gehören Speicher, bei denen zur Datewnrettung das "Chip-OFF Verfahren" nötig ist:</span>
Bei dem Verfahren wird der interne Speicherchip direkt ausgelesen und das ohne den Einfluss des Controllers.
<div class="flex grid-cols-2 flex-wrap gap-4">
    <img class="h-96 object-cover" src="assets/mSD-Bild.png">
    <img class="h-96 object-cover" src="assets/flash_arbeitsweise2.png.jpg">
    </div>

</span>



  <span>

<div class="flex pt-4"><button
    class="text-base md:text-xl bg-white py-2 px-4 shadow rounded text-black"><a
    href="">Zurück zur Startseite</a></button></div>
</span>
</pre>