<div>
    <div class="bg-white text-center">
      <h1 class="text-4xl text-black py-5 tracking-wider">Synology JBOD (z.B. DX517, DS1821+, DS920+, RS2421+, DS2422+, DS1520+) Datenrettung:</h1>
    </div>
    <div class="bg-gray-main text-white border-b-2 border-silver py-8">
      <pre class="container whitespace-pre-wrap">
  <h2 class="font-bold text-xl underline">Synology JBOD (z.B. DX517, DS1821+, DS920+, RS2421+, DS2422+, DS1520+):</h2><span class="text-bold text-lg text-silver">Updated am 31.03.2022, 22:04 Uhr von Tobias Jungbauer</span>
  coming soon! <span class="flex justify-end pt-4"><button class="text-xl bg-white py-2 px-4 shadow rounded text-black"><a
    href="/datenrettung/raid">zurück zur Übersicht</a></button></span> </span>
  </div>