<style>
  .IMG_20180914_170148 {
    width: 813px;
    height: 443px;
    margin: 0 187px 0 28px;
    background-image: radial-gradient(circle at 50% 57%, rgba(29, 29, 29, 0), rgba(29, 29, 29, 0.25) 49%, #1d1d1d 85%);
  }
</style>
<app-header></app-header>

<div class="py-20">
  <div class="container">
    <div class="container my-10">
      <table class="grid gap-4 justify-center">
        <tr>
          <td>
            <h1 class="text-3xl text-center">Professionelle Datenrettung zu fairen Konditionen</h1>
          </td>
        </tr>
        <tr>
          <th class="pl-4 pr-2">
            <li></li>
          </th>
          <td>
            <h2 class="col-span-11 text-xl">bei beschädigten HDD-Festplatten, SSD-Speicher, USB-Sticks, micro SD- und SD-Karten 
              <p>oder nach versehentliches Löschen/Formatieren.</p></h2>
          </td>
        </tr>
        <tr>
          <th class="pl-4 pr-2">
            <li></li>
          </th>
          <td>
            <h2 class="col-span-11 text-xl">auch für Speicher die z.B. "klackern", "fiepsen" oder anderweitig nicht mehr erkannt werden.</h2>
          </td>
        </tr>
        <tr>
          <th class="pl-4 pr-2">
            <li></li>
          </th>
          <td>
            <h2 class="col-span-11 text-xl">auf Hardwareebene und mit modernster Datenrettungstechnik.</h2>
          </td>
          <tr>
            <th class="pl-4 pr-2">
              <li></li>
            </th>
            <td>
              <h2 class="col-span-11 text-xl">ESD geschützt und nach DIN 14644-1 ISO 5 Reinraumklasse.</h2>
            </td>
          </tr>
        <tr>
          <th class="pl-4 pr-2">
            <li></li>
          </th>
          <td>
            <h2 class="col-span-11 text-xl">alle Arbeiten werden in Ingolstadt vor Ort durchgeführt.</h2>
          </td>
        </tr>
        <tr>
          <th class="pl-4 pr-2">
            <li></li>
          </th>
          <td>
            <h2 class="col-span-11 text-xl">Sie gehen hier ausdrücklich <span class=" font-semibold">nicht</span> in Vorkasse.</h2>
            <h2 class="col-span-11 text-xl">Eine Bezahlung erfolgt nur <span class=" font-semibold">nach erfolgreicher Datenrettung. </span> </h2>
            
          </td>
        </tr>
      </table>
    </div>
   
  </div>

</div>

<div class="bg-cover text-xl bg-gray-main text-gray-50" id="priceList">
  <h2 class="text-3xl text-gray-50 py-5 text-center tracking-wider">Ein Festpreis auch für komplexe Defekte</h2>
  <div class="container py-10 text-center rounded-2xl break-words" >
    <div class="bg-gray-main rounded-2xl" style="box-shadow: 0 2px 25px 0 black">

      <div class="flex text-center">
          <div class="flex-1 bg-cover bg-center rounded-tl-2xl" style="background-image: url('/assets/usb.jpg')"></div>
          <div class=" grid grid-cols-2 pb-4">
            <h2 class="text-2xl p-4 text col-span-2">USB Sticks / (micro) SD Karten</h2>
            <div class="border-r border-white  leading-relaxed p-4">
              <div>Festpreis</div>
              <div>100,00 €</div>
              <div>150,00 €</div>
              <div>250,00 €</div>
            </div>
            <div class="border-l border-white leading-relaxed p-4">
              <div>Kapazität</div>
              <div>≤ 16 GB</div>
              <div>≤ 64 GB</div>
              <div>≤ 128 GB</div>
            </div>
          </div>
          <div class="flex-1 bg-cover bg-center rounded-tr-2xl" style="background-image: url('/assets/flash3.jpg')"></div>
      </div>
      <div class="bg-silver h-8"></div>
      <div class="flex flex-col md:flex-row text-center">
          <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/hdd_price.jpg')"></div>
          <div class=" grid grid-cols-2 py-4">
            <h2 class="text-2xl p-4 text col-span-2">HDD-Festplatte</h2>
            <div class="border-r border-white  leading-relaxed p-4">
              <div>Festpreis</div>
              <div>300,00 €</div>
              <div>350,00 €</div>
              <div>400,00 €</div>
            </div>
            <div class="border-l border-white leading-relaxed p-4">
              <div>Kapazität</div>
              <div>≤ 500 GB</div>
              <div>≤ 1 TB</div>
              <div>≤ 2 TB</div>
            </div>
          </div>
          <div class=" grid grid-cols-2 py-4">
            <h2 class="text-2xl p-4 text col-span-2">SSD-Speicher</h2>
            <div class="border-r border-white  leading-relaxed p-4">
              <div>Festpreis</div>
              <div>250,00 €</div>
              <div>300,00 €</div>
              <div>350,00 €</div>
            </div>
            <div class="border-l border-white leading-relaxed p-4">
              <div>Kapazität</div>
              <div>≤ 500 GB</div>
              <div>≤ 1 TB</div>
              <div>≤ 2 TB</div>
            </div>
          </div>
          <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/ssd_price.jpg')"></div>
      </div>
      <div class="bg-silver h-8"></div>
      <div class="flex text-center">
        <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/technology-1587673.jpg')"></div>
        <div class=" grid pb-4">
          <h2 class="text-2xl p-4 text">RAID & Apple Fusion Drive (iMac)</h2>
          <div class="text-lg text-left leading-relaxed px-4 pl-8">
            abhängig von:
            <div>-  Anzahl an Festplatten</div>
            <div>-  Kapazität pro Festplatte</div>
            <div>-  RAID Level</div>
            <div>-  ggf. Beschädigung der Festplatten</div>
          </div>
        </div>
        <div class="flex-1 bg-contain bg-no-repeat bg-center " style="background-image: url('/assets/RAID Symbol.jpg')"></div>
      </div>
      <div class="flex flex-col md:flex-row bg-silver p-4 rounded-b-2xl justify-between text-black">
        <div class="self-center text-base">Alle angegebenen Preise sind bereits inklusive 19% Mehrwertsteuer. Eine <span class=" font-semibold">zweimonatige Ratenzahlung</span> ist möglich</div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white  py-10">

<div class="flex flex-col lg:flex-row container justify-center gap-8 ">
  <div class="inline-block">
    <h1 class="text-3xl mb-8 text-gray-900 text-center">Ablauf der Datenrettung:</h1>
    <div class="justify-center grid">
      <div class="flex relative pb-8">
        <div class="h-full w-12 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-12 h-12 rounded-full bg-silver inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-check-square" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round">
            <polyline points="9 11 12 14 22 4"></polyline>
            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-bold text-lg  text-black mb-1 ">Angebot wählen</h2>
          <p class="text-lg">Wählen Sie das für Sie passende Angebot aus.</p>
        </div>
      </div>
      <div class="flex relative pb-8">
        <div class="h-full w-12 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-12 h-12 rounded-full bg-silver inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-edit " xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 24 24"
                fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-bold text-lg text-black mb-1 ">Auftragsformular</h2>
          <p class="text-lg">Füllen Sie das Auftragsformular aus. Es folgt eine Bestätigung per Email.</p>
        </div>
      </div>
      <div class="flex relative pb-8">
        <div class="h-full w-12 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-12 h-12 rounded-full bg-silver inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-package " xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round">
            <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-bold text-lg text-black mb-1 ">Versand</h2>
          <p class="text-lg">Wählen Sie dafür eine verfolgbare Versandmethode. Packen Sie den Speicher gut ein!</p>
        </div>
      </div>
      <div class="flex relative pb-8">
        <div class="h-full w-12 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-12 h-12 rounded-full bg-silver inline-flex items-center justify-center text-white relative z-10">
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="#000" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
            <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
            <line x1="12" y1="11" x2="12" y2="17"></line>
            <line x1="9" y1="14" x2="15" y2="14"></line>
          </svg>

        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-bold text-lg text-black mb-1 ">Datenrettung</h2>
          <p class="text-lg">Die Datenrettung startet direkt nach Ankunft.</p>
        </div>
      </div>
      <div class="flex relative pb-8">
        <div
          class="flex-shrink-0 w-12 h-12 rounded-full bg-silver inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-truck " xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round">
            <rect x="1" y="3" width="15" height="13"></rect>
            <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
            <circle cx="5.5" cy="18.5" r="2.5"></circle>
            <circle cx="18.5" cy="18.5" r="2.5"></circle>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-bold text-lg text-black mb-1 ">Rücktransport</h2>
          <p class="text-lg">Nach der Wiederherstellung werden Ihnen Ihre Dateien und die Rechnung zugesandt.</p>
          <p class="text-lg">Kosten entstehen dabei für Sie nur nach erfolgreicher Datenrettung.</p>
        </div>
      </div>

    </div>

  </div>
  <!--    <div class="flex justify-center">-->
  <!--      <div class="w-64 border shadow-2xl rounded-xl justify-self-center inline-table">-->
  <!--        <div class="relative pb-56 mb-4 rounded shadow lg:pb-64">-->
  <!--          <img class="absolute object-cover w-full h-full rounded" src="assets/cassandra_schilling.png" alt="Person"/>-->
  <!--        </div>-->
  <!--        <div class="flex flex-col sm:text-center">-->
  <!--          <p class="text-lg font-bold">Cassandra Schilling</p>-->
  <!--          <div class="p-4">-->
  <!--            <button class="btn btn-outline">Mehr über mich</button>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->

  <!--    </div>-->
</div>


</div>
<div class="bg-white">
<div class="bg-white container py-10">
  <div class="bg-gray-main text-white rounded-2xl"  style="box-shadow: 0 2px 25px 0 black;" id="order_form">
  
  <app-order-form
    *ngIf="products && orderSubmitted === null"
    [products]="products"
    [replacementProducts]="replacementProducts"
    (orderOutput)="submitOrder($event)"></app-order-form>
  
  <div *ngIf="orderSubmitted === false">
    <div class="bg-silver h-6 rounded-t-2xl"></div>
    <div class="grid grid-cols-2">
      <div class="bg-center bg-cover" style="background-image: url('/assets/order_confirmation.png')"></div>
      <div class="text-center p-8">
        <p class="py-4 text-silver text-lg">Ihre Anfrage wurde nicht übermittelt<br>Bitte kontaktieren sie Tobias Jungbauer über eine Email an:
          <span class="font-bold">info@jungbauerdatenrettung.de</span>
        </p>
      </div>
    </div>
    <div class="bg-silver h-6 rounded-b-2xl"></div>
  
  </div>
  
  <div *ngIf="orderSubmitted === true || !products" id="order_submit">
    <div class="bg-silver h-6 rounded-t-2xl"></div>
    <div class="grid grid-cols-2" *ngIf="orderSubmitted === true">
      <div class="bg-center bg-cover" style="background-image: url('/assets/order_confirmation.png')"></div>
      <div class="text-center py-8">
        <p class="py-4 text-silver text-lg">Ihre Anfrage wurde erfolgreich übermittelt. <br> Sie erhalten eine Bestätigung per E-Mail.</p>
      </div>
    </div>
  
    <div *ngIf="!products" class="text-center py-8">
      <p class="pb-8">Bitte kontaktieren sie Tobias Jungbauer über eine Email an:
        <span class="font-bold">info@jungbauerdatenrettung.de</span>
      </p>
      <button class="bg-white py-2 px-4 shadow rounded text-black">
        <a href="mailto:info@jungbauerdatenrettung.de?subject=Anfrage%20wegen%20einer%20Datenrettung&amp;">Hier klicken um eine Email zu senden</a>
      </button>
    </div>
    <div class="bg-silver h-6 rounded-b-2xl"></div>
  </div>
  
  </div>
  
</div>
</div>

<div class="bg-white text-center">
  
</div>




<app-review-component></app-review-component>

<div class="bg-cover text-xl bg-white text-black" id="priceList">
  <h2 class="text-3xl py-5 text-center tracking-wider">Kontakt & Standort</h2>

</div>