<style>
  .IMG_20180914_170148 {
    width: 813px;
    height: 443px;
    margin: 0 187px 0 28px;
    background-image: radial-gradient(circle at 50% 57%, rgba(29, 29, 29, 0), rgba(29, 29, 29, 0.25) 49%, #1d1d1d 85%);
  }
</style>
<div class="py-10 bg-center bg-gray-main bg-cover bg-no-repeat " style="background-image: url('/assets/hdd4.png')">
  <div class="flex md:ml-32 py-10 justify-center md:justify-start" >
    <h1 class="text-4xl leading-relaxed text-center text-silver text-shadow">
      Tobias<br>Jungbauer<br>Datenrettung
    </h1>

  </div>
</div>
<div class="container my-20 grid grid-cols-1 mx-auto">


  <h1 class="text-3xl mb-4 text-center">Professionelle Datenrettung</h1>
  <table class="grid gap-2 justify-center">
    <tr>
      <th class="pr-4">
        <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24"
               stroke="#1d1d1d" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </th>
      <td>
        <span class="col-span-11 text-xl">für HDD, SSD, USB-Stick und SD-Karten</span>
      </td>
    </tr>
    <tr>
      <th class="pr-4">
        <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24"
               stroke="#1d1d1d" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </th>
      <td>
        <span class="col-span-11 text-xl">auf Hardwareebene für schwerwiegende Fälle</span>
      </td>
    </tr>
    <tr>
      <th class="pr-4">
        <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24"
               stroke="#1d1d1d" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </th>
      <td>
        <span class="col-span-11 text-xl">für Speicher die klackern, nicht erkannt werden<br> oder formatiert werden möchten</span>
      </td>
    </tr>
    <tr>
      <th class="pr-4">
        <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24"
               stroke="#1d1d1d" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </th>
      <td>
        <span class="col-span-11 text-xl">vollständige Transparenz zur geleisteten Arbeit</span>
      </td>
    </tr>
    <tr>
      <th class="pr-4">
        <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24"
               stroke="#1d1d1d" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </th>
      <td>
        <span class="col-span-11 text-xl">zu fairen Festpreisen & bei Misserfolg kostenfrei</span>
      </td>
    </tr>
  </table>
</div>
<div class="py-14 bg-gray-main text-gray-300">

  <div class="container flex items-center">
<!--    <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" width="151" height="150" viewBox="0 0 151 150">-->
<!--      <g fill="none" fill-rule="evenodd">-->
<!--        <g fill="#FFF">-->
<!--          <g>-->
<!--            <path d="M88.357 43.315c1.966-1.684 4.925-1.456 6.609.51 1.6 1.868 1.474 4.632-.228 6.348l-.282.262-28.66 24.551 28.662 24.58c1.867 1.602 2.165 4.353.745 6.309l-.238.302c-1.602 1.866-4.352 2.165-6.308.745l-.302-.239-32.813-28.139c-2.083-1.786-2.177-4.944-.282-6.854l.284-.264 32.813-28.11z" transform="translate(-327 -1035) translate(327.945 1035)"/>-->
<!--          </g>-->
<!--        </g>-->
<!--      </g>-->
<!--    </svg>-->
    <div class="rounded-xl p-6 md:w-4/5  lg:w-full mx-auto" style="box-shadow: 0 2px 25px 0 black">
      <div class="flex items-start">
        <div class="hidden md:flex bg-contain bg-center bg-no-repeat w-36 h-44 mx-4" style="background-image: url('/assets/Google__G__Logo.svg')"></div>
        <div class="ml-6">
          <div class="py-1">
            <span class="inline-flex align-text-top mr-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 1792 1792">
                <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                </path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 1792 1792">
                <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                </path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 1792 1792">
                <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                </path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 1792 1792">
                <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                </path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="w-4 h-4 text-yellow-500" fill="currentColor" viewBox="0 0 1792 1792">
                <path d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                </path>
              </svg>
            </span>
            <span class="font-bold text-lg">Felix</span>
            <span class="text-gray-500 ml-2 text-sm">Vor 4 Monaten</span>

          </div>
          <div class="mt-3">
            <p class="mt-1 max-w-xl pb-4 text-gray-300">
              Wirklich super Service und sehr nett! Alle Daten waren in sehr kurzer Zeit gerettet und das zu einem wirklich fairen Preis! Ich bin mehr als zufrieden und kann den Dienst nur weiterempfehlen. Danke nochmal.
            </p>
          </div>
          <div class="text-right">
            <button class="border border-gray-300 ml-auto mr-0 p-2 rounded">
              <a href="https://www.google.de/search?&q=Tobias+Jungbauer+Datenrettungsdienst&entrypoint=sh/x/kp/local#lrd=0x479c339724e79353:0x37d4dd90c24065cb,1" target="_blank">
                Weitere Bewertungen
              </a>
            </button>
          </div>
        </div>
      </div>

    </div>
<!--    <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">-->
<!--      <g fill="none" fill-rule="evenodd">-->
<!--        <g fill="#FFF">-->
<!--          <g>-->
<!--            <path d="M55.034 43.825c1.6-1.867 4.35-2.167 6.307-.748l.303.238 32.812 28.111c2.084 1.785 2.18 4.943.286 6.854l-.284.264-32.813 28.14c-1.965 1.685-4.924 1.458-6.61-.507-1.6-1.867-1.476-4.631.226-6.348l.281-.262 28.66-24.581-28.658-24.551c-1.868-1.6-2.167-4.35-.748-6.308l.238-.302z" transform="translate(-1444 -1037) translate(1444 1037)"/>-->
<!--          </g>-->
<!--        </g>-->
<!--      </g>-->
<!--    </svg>-->

  </div>
</div>

<div class="h-20 bg-white text-center">
  <h1 class="text-4xl text-black py-5 tracking-wider">Festpreise</h1>
</div>


<div class="bg-cover text-xl bg-gray-main text-gray-50" id="priceList">
  <div class="container py-10 text-center rounded-2xl break-words" >
    <div class="bg-gray-main rounded-2xl" style="box-shadow: 0 2px 25px 0 black">

      <div class="flex text-center">
          <div class="flex-1 bg-cover bg-center rounded-tl-2xl" style="background-image: url('/assets/usb.png')"></div>
          <div class=" grid grid-cols-2 pb-4">
            <h2 class="text-2xl p-4 text col-span-2">USB Sticks / (micro) SD Karten</h2>
            <div class="border-r border-white  leading-relaxed p-4">
              <div>Festpreis</div>
              <div>125,00 €</div>
              <div>200,00 €</div>
              <div>300,00 €</div>
            </div>
            <div class="border-l border-white leading-relaxed p-4">
              <div>Kapazität</div>
              <div>≤ 16 GB</div>
              <div>≤ 64 GB</div>
              <div>= 128 GB</div>
            </div>
          </div>
          <div class="flex-1 bg-cover bg-center rounded-tr-2xl" style="background-image: url('/assets/flash.png')"></div>
      </div>
      <div class="bg-silver h-8"></div>
      <div class="flex flex-col md:flex-row text-center">
          <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/hdd_price.png')"></div>
          <div class=" grid grid-cols-2 py-4">
            <h2 class="text-2xl p-4 text col-span-2">HDD</h2>
            <div class="border-r border-white  leading-relaxed p-4">
              <div>Festpreis</div>
              <div>300,00 €</div>
              <div>350,00 €</div>
              <div>475,00 €</div>
            </div>
            <div class="border-l border-white leading-relaxed p-4">
              <div>Kapazität</div>
              <div>≤ 500 GB</div>
              <div>≤ 1 TB</div>
              <div>≤ 2 TB</div>
            </div>
          </div>
          <div class=" grid grid-cols-2 py-4">
            <h2 class="text-2xl p-4 text col-span-2">SSD</h2>
            <div class="border-r border-white  leading-relaxed p-4">
              <div>Festpreis</div>
              <div>250,00 €</div>
              <div>300,00 €</div>
              <div>425,00 €</div>
            </div>
            <div class="border-l border-white leading-relaxed p-4">
              <div>Kapazität</div>
              <div>≤ 500 GB</div>
              <div>≤ 1 TB</div>
              <div>≤ 2 TB</div>
            </div>
          </div>
          <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/ssd_price.png')"></div>
      </div>
      <div class="bg-silver h-8"></div>
      <div class="flex text-center">
        <div class="flex-1 bg-cover bg-center" style="background-image: url('/assets/technology-1587673.jpg')"></div>
        <div class=" grid pb-4">
          <h2 class="text-2xl p-4 text">RAID & Apple Fusion Drive</h2>
          <div class="text-lg text-left leading-relaxed px-4 pl-8">
            abhängig von:
            <div>-  Anzahl an Festplatten</div>
            <div>-  Kapazität pro Festplatte</div>
            <div>-  RAID Level</div>
            <div>-  ggf. Beschädigung der Festplatten</div>
          </div>
        </div>
        <div class="flex-1 bg-contain bg-no-repeat bg-center " style="background-image: url('/assets/RAID Symbol.png')"></div>
      </div>
      <div class="flex flex-col md:flex-row bg-silver p-4 rounded-b-2xl justify-between text-black">
        <div class="self-center text-base">Alle angegebenen Preise sind bereits inklusive 19% Mehrwertsteuer.</div>
        <button class="bg-white py-2 px-4 shadow rounded" routerLink="preise">
          Weitere Preisinformationen
        </button>
      </div>
    </div>
  </div>
</div>
<div class="py-20">
  <div class="container">
    <div class="bg-gray-main text-white rounded-2xl"  style="box-shadow: 0 2px 25px 0 black;" id="order_form">

      <app-order-form
        *ngIf="products && orderSubmitted === null"
        [products]="products"
        [replacementProducts]="replacementProducts"
        (orderOutput)="submitOrder($event)"></app-order-form>

      <div *ngIf="orderSubmitted === false">
        <div class="bg-silver h-6 rounded-t-2xl"></div>
        <div class="grid grid-cols-2">
          <div class="bg-center bg-cover" style="background-image: url('/assets/order_confirmation.png')"></div>
          <div class="text-center p-8">
            <p class="py-4 text-silver text-lg">Ihre Anfrage wurde nicht übermittelt<br>Bitte kontaktieren sie Tobias Jungbauer über eine Email an:
              <span class="font-bold">info@jungbauerdatenrettung.de</span>
            </p>
          </div>
        </div>
        <div class="bg-silver h-6 rounded-b-2xl"></div>

      </div>

      <div *ngIf="orderSubmitted === true || !products" id="order_submit">
        <div class="bg-silver h-6 rounded-t-2xl"></div>
        <div class="grid grid-cols-2" *ngIf="orderSubmitted === true">
          <div class="bg-center bg-cover" style="background-image: url('/assets/order_confirmation.png')"></div>
          <div class="text-center py-8">
            <p class="py-4 text-silver text-lg">Ihre Anfrage wurde erfolgreich übermittelt. <br> Sie erhalten eine Bestätigung per E-Mail.</p>
          </div>
        </div>

        <div *ngIf="!products" class="text-center py-8">
          <p class="pb-8">Bitte kontaktieren sie Tobias Jungbauer über eine Email an:
            <span class="font-bold">info@jungbauerdatenrettung.de</span>
          </p>
          <button class="bg-white py-2 px-4 shadow rounded text-black">
            <a href="mailto:info@jungbauerdatenrettung.de?subject=Anfrage%20wegen%20einer%20Datenrettung&amp;">Hier klicken um eine Email zu senden</a>
          </button>
        </div>
        <div class="bg-silver h-6 rounded-b-2xl"></div>
      </div>

    </div>
  </div>

</div>



