<div class="h-20 bg-blue-100 py-12">
  <h1 class="text-blue-900 text-3xl text-center font-extrabold">USB Stick kaputt? SD Karte nicht mehr lesbar?</h1>

</div>
<div class="grid grid-cols-3 bg-blue-100 pt-8 pb-20">
  <div class="col-span-1 bg-contain bg-no-repeat bg-blue-100 justify-self-center self-center pl-4">
    <img class="max-h-96 min-w-full" src="/assets/digital_files.png">
  </div>
  <div class="col-span-2 px-16 py-16 text-justify">

    <h3 class="text-xl mb-2 text-gray-700 font-semibold  text-center">
      Faire Rahmenbedingungen
    </h3>
    <h1 class="text-4xl mb-16 text-center font-bold text-gray-900">
      Professionelle Datenrettung zu fairen Konditionen
    </h1>
    <div class="grid grid-cols-12 gap-2 pl-10">
      <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24" stroke="#1E3A8A" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" ><polyline points="20 6 9 17 4 12"></polyline></svg>
      <span class="col-span-11 text-xl">Festpreis</span>
      <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24" stroke="#1E3A8A" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" ><polyline points="20 6 9 17 4 12"></polyline></svg>
      <span class="col-span-11 text-xl">Bezahlung erst nach erfolgreicher Datenrettung</span>
      <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24" stroke="#1E3A8A" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" ><polyline points="20 6 9 17 4 12"></polyline></svg>
      <span class="col-span-11 text-xl">Kostenlose Beratung</span>
      <svg class="col-span-1 justify-self-center self-center" viewBox="0 0 24 24" width="24" height="24" stroke="#1E3A8A" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" ><polyline points="20 6 9 17 4 12"></polyline></svg>
      <span class="col-span-11 text-xl">Bei erfolgloser Datenrettung Geld zurück</span>
    </div>
  </div>
</div>
<div class="relative -mt-12 lg:-mt-24">
  <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path
          d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
          opacity="0.400000001"></path>
        <path
          d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
          opacity="0.100000001"></path>
        <path
          d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
          id="Path-4" opacity="0.400000003"></path>
      </g>
      <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
        <path
          d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
      </g>
    </g>
  </svg>
</div>
<div class="bg-white  py-20">

  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-5 gap-8 bg-white">
    <div class="col-span-1 lg:col-span-3 self-center">
      <h1 class="text-2xl mb-8 text-gray-900">Ablauf der Datenrettung:</h1>
      <div class="flex relative pb-8">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-50 inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-check-square" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
               viewBox="0 0 24 24" fill="none" stroke="#1E3A8A" stroke-width="1.5" stroke-linecap="round"
               stroke-linejoin="round">
            <polyline points="9 11 12 14 22 4"></polyline>
            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Schritt 1</h2>
          <p class="">Wählen Sie das für Sie passende Angebot aus</p>
          </div>
      </div>
      <div class="flex relative pb-8">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-50 inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-edit " xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
               fill="none" stroke="#1E3A8A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Schritt 2</h2>
          <p class="">Füllen Sie das Auftragsformular aus. Es folgt eine Bestätigung per Email.</p>
          </div>
      </div>
      <div class="flex relative pb-8">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-50 inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-package " xmlns="http://www.w3.org/2000/svg" width="28" height="28"
               viewBox="0 0 24 24" fill="none" stroke="#1E3A8A" stroke-width="1.5" stroke-linecap="round"
               stroke-linejoin="round">
            <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Schritt 3</h2>
          <p class="">Wählen Sie dafür eine verfolgbare Versandmethode. Packen Sie den Speicher gut ein!</p>
        </div>
      </div>
      <div class="flex relative pb-8">
        <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-300 pointer-events-none"></div>
        </div>
        <div
          class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-50 inline-flex items-center justify-center text-white relative z-10">
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="#1E3A8A" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path><line x1="12" y1="11" x2="12" y2="17"></line><line x1="9" y1="14" x2="15" y2="14"></line></svg>

        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Schritt 4</h2>
          <p class="">Die Datenrettung startet direkt nach Ankunft.</p>
        </div>
      </div>
      <div class="flex relative pb-8">
        <div
          class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-50 inline-flex items-center justify-center text-white relative z-10">
          <svg class="feather feather-truck " xmlns="http://www.w3.org/2000/svg" width="28" height="28"
               viewBox="0 0 24 24" fill="none" stroke="#1E3A8A" stroke-width="1.5" stroke-linecap="round"
               stroke-linejoin="round">
            <rect x="1" y="3" width="15" height="13"></rect>
            <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
            <circle cx="5.5" cy="18.5" r="2.5"></circle>
            <circle cx="18.5" cy="18.5" r="2.5"></circle>
          </svg>
        </div>
        <div class="flex-grow pl-4">
          <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">Schritt 5</h2>
          <p class="">Nach der Wiederherstellung werden Ihnen Ihre Dateien und die Rechnung zugesandt.</p>
        </div>
      </div>

    </div>
    <div class="flex justify-center items-center col-span-1 lg:col-span-2">
      <img class="rounded-full h-60 w-60 shadow-xl" src="assets/cassandra_schilling.png">
    </div>
  </div>
</div>
<div class="text-xl bg-white pb-20" id="priceList">
  <div class="">
    <h1 class="text-2xl text-gray-900 font-bold text-center mb-5">Preise</h1>
    <ng-container *ngFor="let category of categories">
      <div class="w-4/5 mx-auto border shadow-xl rounded-xl flex flex-col overflow-hidden">
        <div class="bg-blue-50">
          <h1 class="text-xl  text-blue-900 text-center my-4">{{category.title}}</h1>
        </div>
        <div class="grid grid-cols-3 gap-4 bg-white p-4">
          <ng-container *ngFor="let product of products">

            <div class="grid grid-cols-1 gap-2 text-center"
                 *ngIf="product.category.id === category.id && product.price">
              <h2 class="text-gray-800">{{product.name}} </h2>
              {{product.price}} €
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

  </div>
</div>
<div class="container my-20 bg-blue-100">
  <div class="card bg-white text-gray-800">

    <app-order-form
      *ngIf="products"
      [products]="products"
      [replacementProducts]="replacementProducts"
      (orderOutput)="submitOrder($event)"></app-order-form>
    <div *ngIf="orderSubmitted === true" class="px-12 text-green-600 text-xl font-bold mt-8">
      <h1>Ihr Auftrag wurde übermittelt. Sie sollten bald eine Bestätigungsmail mit weiteren Anweisungen erhalten.</h1>
    </div>
    <div *ngIf="!products" class="text-center">
      <p>Bitte kontaktieren sie Tobias Jungbauer über eine Email an:
        <span class="text-green-700 font-bold">ammersee.datenrettung@gmail.com</span>
      </p>
      <button class="border-2 rounded-md p-2 mt-4">

        <a
          href="mailto:ammersee.datenrettung@gmail.com?subject=Anfrage%20wegen%20einer%20Datenrettung&amp;body=Sehr%20geehrter%20Herr%20Jungbauer%20%0AGerne%20Würde%20ich%20folgende%20">Hier
          klicken um eine Email zu senden</a>
      </button>
    </div>
  </div>
</div>

<div style="height: 300px">
  <iframe id="myFrame"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10688.664885486834!2d11.1017109!3d47.9525097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37d4dd90c24065cb!2sTobias%20Jungbauer%20Datenrettungsdienst%20-%20AmmerseeDatenrettung.de!5e0!3m2!1sde!2sde!4v1604148030912!5m2!1sde!2sde"
          width="{{innerWidth}}" height="300" frameborder="0" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
</div>

