<ng-container *ngIf="variant == 'hdd'">
  <div class="py-10 bg-right bg-gray-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/hdd_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h1 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h1>
    </div>
  </div>
  <div class="h-20 bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">Arbeitsweise</h1>
  </div>
  <div class="bg-gray-main text-silver border-b-2 border-silver pb-8">
    <div class="container">
      <h1 class="text-2xl font-bold py-6">Vorgehensweise HDD-Festplattendatenrettung:</h1>
      <pre class="whitespace-pre-wrap">
Typische Schäden sind:
- defekte Leseköpfe nach einem Headcrash (z.B. durch Erschütterung)
- defektes PCB (z.B. durch das Verwenden eines falschen Netzteils)
- fehlerhafte Firmware oder eine fehlerhafte Boot-ROM

Die Herangehensweise bei der HDD-Datenrettung ist, zunächst eine Analyse über den Zustand der Festplatte anzustellen, um herauszufinden, wo der Fehler liegt.

Nun wird die HDD von defekten Bauteilen so weit befreit bzw. Fehler in der Firmware und BOOT-ROM behoben, bis der Zugriff auf die Dateien wieder möglich ist.

Typische Arbeiten dabei sind:
- Analyse und Austausch der Leseköpfe
- Austausch des PCB und Anlernen für die Festplatte
- Arbeiten an der ServiceArea und BOOT-ROM
- Plattern Swap, z.B. um den Motor zu tauschen oder die Oberflächen nach Beschädigungen zu inspizieren

Alle Arbeiten werden ausschließlich unter Reinraumbedingungen nach DIN 14644-1 ISO 5 und ESD-geschützt und das hier vor Ort durchgeführt.

Nach der Reparatur wird ein Image der Festplatte erstellt woraus Ihre Dateien abgespeichert werden können.
        </pre>
      <div class="flex grid-cols-3 flex-wrap gap-4">
        <img class="h-60" src="assets/hdd1.webp">
        <img class="h-60" src="assets/hdd4.jpeg">
        <img class="h-60" src="assets/hdd2.jpg">
        <img class="h-60" src="assets/hdd_arbeitsweise_4.jpg">
      </div>
      <h1 class="text-2xl font-bold my-6">Verwendete Hard- Und Software</h1>
      <pre class="whitespace-pre-wrap">Der PC-3000 UDMA ist eine Hardware-Software-Lösung zur Diagnose und Reparatur von Festplatten auf Basis von SATA- (Serial ATA) und ATA- (IDE) Schnittstellen für zahlreiche Hersteller (Seagate, Western Digital, Fujitsu, Samsung, Maxtor, Quantum, IBM (HGST) ), HITACHI, TOSHIBA), für verschiedene Kapazitäten (von 500 MB bis 8 TB) und verschiedene Formfaktoren: 3,5 "- Desktop-Laufwerke, 2,5" - und 1,8 "- Laptop-Laufwerke.

Der PC-3000 UDMA bildet zusammen mit dem Data Extractor UDMA das PC-3000 UDMA Professional-System, mit dem Daten von der SATA-, ATA- (IDE-) Festplatte wiederhergestellt werden können. Wenn Sie Ihre Festplatte reparieren lassen möchten, benötigen Sie eine Lösung wie durch den PC-3000 UDMA.
    </pre>
      <pre class="whitespace-pre-wrap">
Ein zweikanaliger Spannungsversorgungsadapter befindet sich auf der Platinensteuerung und bietet eine unabhängige Spannungsversorgung von +5 V, +12 V sowie Schutz vor Überspannungs- und Stromüberlastung. Im Notfall wird die Stromversorgung der Festplatte automatisch abgeschaltet.
Zusätzlich verfügt jeder Kanal über eine Rückkopplungsschaltung mit spezieller Verwaltungssoftware, die die Versorgungsspannungswerte steuert und den Benutzer über Probleme mit der Speiseschaltung informiert.

</pre>
      <div class="flex grid sm:grid-cols-2 grid-cols-1">
        <div class="overflow-hidden">
          <label class="">
            <img src="assets/pc3000udma.webp" alt="pc3000udma">
            Bildquelle: https://www.acelaboratory.com/pc3000.udma.php
          </label>
        </div>
      </div>

    </div>

  </div>
</ng-container>
<ng-container *ngIf="variant == 'flash'">
  <div class="py-10 bg-center bg-gray-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/ssd_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h1 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h1>
    </div>
  </div>
  <div class="h-20 bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">Arbeitsweise</h1>
  </div>
  <div class="bg-gray-main text-silver border-b-2 border-silver pb-8">
    <div class="container">
      <h1 class="text-2xl font-bold py-6">NAND-Flashspeicher-Datenrettung:</h1>
      <pre class="whitespace-pre-wrap">Bei der NAND-Flashspeicherdatenrettung wie USB-Sticks, micro SD-Karten und SD-Karten gibt es grundlegend zwei verschiedene Bauformen.

Einmal die Speicher, die noch über ein PCB mit aufgelötetem Speicherchip und Controller verfügen und einmal die sogenannten Monolithspeicher (micro SD-Karten als Beispiel), die wie das Wort „Mono“ andeutet aus nur einen einzigen Chip bestehen und alle Bauteile hierin beinhalten.

Die „Geheimwaffe“ der Nand-Flashspeicher-Datenrettung ist, dass der interne Speicherchip des Datenträgers direkt, sprich ohne Controller, ausgelesen wird. Bei Speichern mit PCB kann man hier den NAND-Chip einfach herunterlöten. Bei Monolithspeicher setzt man stattdessen auf der Oberfläche an einem sogenannten technischen Pinout an und liest über die eigenen Leiterbahnen des Speichers den internen NAND-Chip aus.
        </pre>
      <div class="flex grid-cols-2 flex-wrap gap-4">
        <img class="h-96 object-cover" src="assets/flash_arbeitsweise2.png.jpg">
      </div>
      <pre class="whitespace-pre-wrap">

Sobald man die Chipdaten gelesen hat, werden daraus mit Hilfe der Speicherungslogik des ehemaligen Controllers die Dateien virtuell wieder zusammengesetzt.

Nach einigen Anpassungen wird am Ende ein Image erzeugt, sodass Ihre Dateien bestenfalls vollständig und in ursprünglicher Ordnerstruktur rekonstruiert worden sind.

Dadurch können beispielsweise Controllerschäden umgangen werden!

Folgende Chips werden zum Auslesen unterstützt: TSOP-48, BGA-152 und LGA/TLGA-52/60, welche die üblichen Formate für beispielsweise USB-Sticks oder SD-Karten darstellen, wie weitere 112 verschiedene Monolitharten.
</pre>
      <h1 class="text-2xl font-bold my-6">Verwendete Hard- Und Software</h1>
      <pre class="whitespace-pre-wrap overflow-hidden">Der PC-3000 Flash ist ein Hardware-Software-Lösung zur Wiederherstellung von Daten von NAND-basierten Geräten in solchen Fällen, in denen kein Zugriff über die zugewiesene Laufwerksschnittstelle mehr möglich ist.

Funktionsstörungen können vom PC-3000 Flash mit einer Reihe eigener Tools und Methoden umgangen werden.
        <img src="/assets/pc3000flash.webp">
Bildquelle: https://www.acelaboratory.com/pc3000flash.php

<h2 class="font-bold">Spiderboardadapter:</h2>
Der Spider Board Adapter wurde entwickelt, um mit Pins sich mit monolithischen Flash-Geräten zu verbinden.

<img src="/assets/pc3000flashspider.webp">
Bildquelle: https://www.acelaboratory.com/pc3000flash.php#Spider
        </pre>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="variant == 'ssd'">
  <div class="py-10 bg-center bg-gray-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/flash_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h1 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h1>
    </div>
  </div>
  <div class="h-20 bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">Arbeitsweise</h1>
  </div>
  <div class="bg-gray-main border-b-2 border-silver pb-8">
    <div class="text-silver container">

      <h1 class="text-2xl font-bold py-6">SSD-Festplatte/Halbleiterlaufwerk (SATA-basiert):</h1>
      <pre class="whitespace-pre-wrap">Man geht hier einen ähnlichen Weg wie bei HDD-Festplatten.
Es werden so lange physische als auch logische Fehler beseitigt, bis der Datenzugriff möglich ist.

Tatsächlich ist bei über 90% der defekten SSD-Festplatten die nicht mehr erkannt werden einer der Speicherchips die Fehlerursache. Warum ist das so? Die SSD eigene Firmware wird auch auf den Speicherbausteinen abgespeichert!

Wenn vom Chip nun zu viele Teile der Firmware nicht mehr für den Controller lesbar werden, schafft die SSD es nicht mehr zu booten.

Aber dafür gibt es eine Lösung: Man bootet die SSD über das externe Hochladen der Firmware (in den RAM der SSD) und ermöglicht dadurch den Zugriff auf die Servicearea bzw. später auf die Nutzerarea, wo sich auch die gewünschten Dateien befinden.
        </pre>
      <div class="flex grid-cols-2 flex-wrap gap-4">
        <img class="h-96 object-cover object-right" src="assets/ssd_arbeitsweise.jpg">
      </div>
    <pre class="whitespace-pre-wrap">

In meiner Datenbank sind tausende an verschiedene „Loader“ für verschiedene Controller, die dieses Prozedere ermöglichen.

Abgesehen davon biete ich auch das Beseitigen von Hardwareschäden seitens der austauschbaren Elektrotechnik an.

Leider werden im Moment bei mir nur SATA basierte SSD-Festplatten unterstützt. Defekte M.2 SSDs daher nur, wenn diese nicht auf PCIe (NVMe), sondern ebenfalls auf das SATA Protokoll basieren.

    </pre>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="variant == 'raid'">
  <div class="py-10 bg-center bg-gray-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/raid_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h1 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h1>
    </div>
  </div>
  <div class="h-20 bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">Arbeitsweise</h1>
  </div>
  <div class="bg-gray-main border-b-2 border-silver">
    <div class="text-silver container">
      <h1 class="text-2xl font-bold py-6">RAID oder Apple Fusion Drive Datenrettung:</h1>
      <pre class="whitespace-pre-wrap">Meine angebotene RAID-Datenrettung brauchen Sie, wenn ein "Rebuild" nicht möglich ist.
Z.B. wenn mehrere Festplatten beschädigt sind oder der RAID-Controller selbst defekt ist.

Ich benötige dafür die einzelnen Festplatten bei mir vor Ort, aber nicht den RAID Controller.
Hiermit werden Ihre Dateien, ohne Veränderung an den einzelnen Festplatten, virtuell zusammengesetzt.

Besonderheit: Auch wenn Sie Ihre Konfiguration wie RAID-Typ, Block Size, Parity Order oder Delay nicht wissen, kann ich Ihre Dateien aus den einzelnen Festplatten inkl. Ordnerstruktur rekonstruieren!</pre>
      <div class="flex grid-cols-2 gap-4 h-80 mb-4">
        <img src="assets/raid1.jpg">
      </div>
      <pre class="whitespace-pre-wrap">Unterstützt werden sowohl Software-RAID als auch Hardware-RAID, wie z.B. in NAS.
Auch Apple Fusion Drive wird unterstützt. Hier kann ich Ihre Dateien auch bei defekt der SSD, des Imac oder HDD wiederherstellen.

Die unterstützten RAID Level sind:
- Einfache Level: 0 (Stripe), 1 (Mirror), JBOD, 1E Offset, 1E Adjacent, 4, 5, 5E, 5EE, 6, 6 Adaptec
- Kombinierte Level: 10, 50, 60, 51 usw.

Selbst wenn bei vielen RAID Level nicht alle Festplatten für eine Datenrettung benötigt werden, möchte ich Sie dennoch bitten möglichst vollständig einzusenden.
Berechnet wird selbstverständlich immer nur anhand der Mindestanzahl an benötigten Festplatten.
        </pre>
    </div>
  </div>
</ng-container>
