<div class=" bg-white text-center">
  <h1 class="text-4xl text-blue-900 py-8 tracking-wider">Wiederherstellung der Daten einer defekten SD-Karte/ USB
    Stick</h1>
</div>
<div class="pb-8">
  <div class="container py-8">
    <h2 class="text-xl font-semibold mt-5 mb-2">Diagnose:</h2>
    <p>Defekte Flashspeicher weisen typische Störungen auf, die in logische und physische Probleme aufgeteilt werden
      können.</p>
    <br>
    <h3 class="font-semibold">Logische Probleme:</h3>

    <ul class="list-disc ml-4 my-2">
      <li>Probleme mit dem Dateisystem</li>
      <li>versehentlich gelöschte Dateien</li>
      <li>Datenverlust nach Formatierung</li>
    </ul>

    <h3 class="font-semibold mb-2 mt-4">Physische Probleme:</h3>

    Hardware-Komponenten des Datenträgers beschädigt:
    <ul class="list-disc ml-4">
      <li>Leiterplatte</li>
      <li>Controller</li>
      <li>Speicherchip</li>
      <li>Bauteile der Stromversorgung</li>
      <li>Controller Firmware</li>
    </ul>

    <div class="flex justify-center">
      <a
        class="bg-blue-900 text-white text-xl p-4 rounded-md mx-2 mt-2"
        href="auftrag">Auftrag zur Datenrettung</a>
    </div>
    <h2 class="text-2xl font-bold my-6">Verwendete Hard- und Software</h2>
    <h3 class="text-xl font-semibold mt-5 mb-2">PC 3000 Flash</h3>
    <pre class="whitespace-pre-wrap pb-4">
Das PC-3000-Flash-System ist ein Hardware-Software-System zur Wiederherstellung von Daten von NAND-basierten Datenträgern, falls kein Zugriff mehr über die zugewiesene Standardschnittstelle (z.B. USB-Port) möglich ist.

Bei der Datenrettung von physisch beschädigten NAND-Flashspeichern wird der interne Speicherchip des Datenträgers ohne Hilfe des Controllers ausgelesen, um trotz defekter Controller oder anderer Hardware-Komponenten Daten retten zu können.

Durch das PC-3000-Flash können die Arbeitsschritte des Controllers simuliert werden und es kann ein komplettes Abbild der Dateien mit der ursprünglichen Verzeichnisstruktur erstellt werden.

Zur Bearbeitung logischer Fehlfunktionen bietet die Software des PC-3000-Flash-Systems Funktionen und Tools um Zugriff auf die Daten zu erhalten.
</pre>
    <div class="flex grid-cols-2 gap-4 flex-wrap">
      <img class="h-60 object-contain" src="assets/usb_microscope.jpg ">
      <img class="h-60 object-contain" src="assets/pc3000_usb.jpg">
    </div>
    <h3 class="text-xl font-semibold mt-5 mb-2">Spiderboardadapter:</h3>
    <div>
      Der Spiderboardadapter erleichtert das Verbinden mit den Pins eines monolithischen Flash-Gerätes zum direkten
      Auslesen der Daten.
      <div class="flex grid-cols-2 gap-4 flex-wrap pt-4">
        <img class="h-60 object-contain" src="/assets/sd_microskop1.jpg">
        <img class="h-60 object-contain" src="/assets/pc3000_spider.JPG">
      </div>
    </div>

  </div>

  <div class="flex justify-center">
    <a
      class="bg-blue-900 text-white text-xl p-4 rounded-md mx-2 mt-2"
      href="auftrag">Auftrag zur Datenrettung</a>
  </div>

</div>

