<ng-container *ngIf="variant === 'hdd'">
  <div class="py-10 bg-right bg-grey-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/hdd_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h2 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h2>
    </div>
  </div>
  <div class="bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">Datenrettung Festplatte</h1>
  </div>
  <div class="bg-grey-main text-white border-b-2 border-silver pb-8">
    <div class="container py-8">

      <span class="underline text-2xl font-bold">Datenrettung HDD-Festplatte</span>
      <pre class="whitespace-pre-wrap py-2"><span class="whitespace-pre-wrap py-2 text-bold text-lg text-silver">Updated am 03.12.2021, 17:55 von Tobias Jungbauer</span> </pre><pre class="whitespace-pre-wrap py-8">
<span class="font-semibold">Es wird die Datenrettung für HDD-Festplatten angeboten, die beispielswiese:</span>
- nicht mehr erkannt werden
- "klackern" oder "fiepsen" (mechanische Schäden)
- Dateien anzeigen, sich aber nicht auslesen lassen
- Fehlermeldungen ausgeben (wie CRC-Fehler oder E/A-Fehler)

<span class="font-semibold">Typische Ursachen dabei sind:</span>
- defekte Schreib-/Leseköpfe nach einem Headcrash (z.B. durch Erschütterung oder Alter)
- defektes PCB (z.B. durch das Verwenden eines falschen Netzteils)
- fehlerhafte ServiceArea oder eine fehlerhafte Boot-ROM ("Firmware Bug")
<div class="flex justify-end pt-4"><button class="text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Direkt zu den Preisen</a></button></div>
<span class="font-semibold">Vorgehensweise:</span>
❶ Der erste Schritt in der HDD-Datenrettung ist eine Fehlerdiagnose anzustellen.

❷ Danach wird die HDD von fehlerhaften Bauteilen befreit (z.B. Schreib-/Leseköpfe ausgetauscht) oder z.B. Fehler in der Firmware und BOOT-ROM behoben, bis der Zugriff auf Ihre Dateien möglich ist.

❸ Es wird nun ein Image Ihrer Festplatten erstellt und Ihre Dateien werden hierraus auf einen anderen Speicher abgespeichert.

<span class="font-semibold">Übliche Arbeiten dabei sind:</span>
- Analyse und Austausch der Schreib-/Leseköpfe:
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-right" src="assets/hdd_arbeitsweise_headreplacement.jpg">
  <img class="h-80 object-cover object-center" src="assets/HDDarbeitsweise_head.JPG">
</div>
Der Zustand der Schreib-/Leseköpfe gibt direkt Auskunft über den Zustand der jeweiligen Oberfläche.
Sollten hier Schleifspuren sichtbar sein spricht das für eine ebenfalls beschädigte Oberflächenstruktur.
Entscheidend für den Datenrettungserfolg ist der Zustand der einzelnen Oberflächen.

Der Abstand zwischen Schreib-/Leseköpfe und der jeweiligen Oberfläche beträgt gerade mal 0,004µm.
Im Vergleich:
Fingerabdruck ~4µm
Staubkorn ~10µm
Haar ~70µm

Jede Veruneinigung beschädigt daher potenziell Oberfläche und Leseköpfe.

- Austausch und Anlernen des PCB (printed circuit board):
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-center" src="assets/HDD_arbeitsweise_PCB2.jpg">
  <img class="h-80 object-cover object-center" src="assets/HDD_arbeitsweise_PCB1.jpg">
</div>
Bei modernen Festplatten muss für ein Austausch des PCB in der Regel immer die originale BOOT-ROM auf das neue PCB übertragen werden.
Grund dafür sind viele verschiedene FW Versionen und teilweise festplattenspezifische (adaptive) Module innerhalb der BOOT-ROM.
Bei einigen Festplattenmodellen wird die ServiceArea mit einer Verschlüsselung (z.B. SED bei WD) gesichert.
Um hier dennoch die nötigen Arbeiten durchführen zu können gibt es spezielle "unlocked PCBs".

- Arbeiten an der ServiceArea und BOOT-ROM:
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-left" src="assets/arbeitsweise_hdd_SA.PNG">
</div>
Bei einem Headcrash kommt es zur Berührung zwischen Schreib-/Lesekopf und der jeweligen Oberfläche.
Dabei wird die Oberfläche gerne auch im Bereich der Servicearea beschädigt.
Firmwaremodule werden dadurch für die Festplatte nicht mehr lesbar, was der Funktion hindert.
Unsere Aufgabe ist daher diese beschädigten Module zu reparieren und zu einer anderen Stelle zu verschieben.

- Plattern Swap, z.B. um den Motor zu tauschen oder die Oberflächen nach Beschädigungen zu inspizieren:
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-right" src="assets/hdd4.jpg">
  <img class="h-80 object-cover object-center" src="assets/arbeitsweise_hdd_platternswap.jpg">
</div>
Als Alternative zur Analyse der Schreib-/Leseköpfe kann man auch die Oberflöchen direkt inspizieren.
Das ist z.B. nötig, wenn die Festplatte bereits woanders neue Schreib-/Leseköpfe bekommen hat und die Originalen nicht mehr vorhanden sind.
Auch nutzt man diese Technik, wenn der Motor getauscht werden muss.

- die Herstellung von Werkzeuge für die Datenrettung:
<div class="flex grid-cols-3 flex-wrap gap-4">
  <img class="h-80 object-cover object-center" src="assets/Chitubox.PNG">
  <img class="h-80 object-cover object-right" src="assets/1640221182228.jpg">
</div>
Nicht für jedes Festplattenmodell gibt es passendes Werkzeug zum Austausch der Schreib-/Leseköpfe direkt zum Kaufen.
Vorallen moderne Festplatten wie Seagate Rosewood und co. bieten hier nur sehr wenig Platz im Inneren.
Eigenes Werkzeug mit einer Genauigkeit von 35µm Herstellen zu können bringt daher einige Vorteile.

<span class ="font-semibold">Arbeiten werden ausschließlich unter Reinraumbedingungen nach DIN 14644-1 ISO 5 und ESD-geschützt und das hier vor Ort durchgeführt.</span>
<img class="h-80 object-cover object-right" src="assets/hdd_arbeitsweise_4.jpg">
Die Kabine erzeugt ein Überdruck durch ein HEPA Filter des Typs H14.
Dieser besitzt einen Abscheidegrad von 99,995%. Das bedeutet, dass der Filter bei einer Partikelgröße von 0,12 μm (nach MPPS) mindestens 99,995% aller Partikel herausfiltert. Der Überdruck verhindert, dass von außerhalb Partikel hineinfallen können.

Preisliste:
Defekte HDD-Festplatte bis 1TB Festplattenkapazität: 299,00 €*
Defekte HDD-Festplatte bis 2TB Festplattenkapazität: 399,00 €*
Defekte HDD-Festplatte bis 4TB Festplattenkapazität: 499,00 €*
Defekte HDD-Festplatte bis 6TB Festplattenkapazität: 599,00 €*
*bereits inkl. 19% Mehrwertsteuer
        </pre>

      <h2 class="underline text-2xl font-bold my-6">Verwendete Hard- Und Software</h2>
      <pre class="whitespace-pre-wrap py-8">Das PC-3000 UDMA ist eine Hardware-Software-Lösung zur Diagnose und Reparatur von Festplatten auf Basis von SATA- (Serial ATA) und ATA- (IDE) Schnittstellen für zahlreiche Hersteller (Seagate, Western Digital, Fujitsu, Samsung, Maxtor, Quantum, IBM (HGST) ), HITACHI, TOSHIBA), für verschiedene Kapazitäten (von 500 MB bis 8 TB) und verschiedene Formfaktoren: 3,5 "- Desktop-Laufwerke, 2,5" - und 1,8 "- Laptop-Laufwerke.
Das PC-3000 UDMA bildet zusammen mit dem Data Extractor UDMA das PC-3000 UDMA Professional-System, mit dem Daten von der SATA-, ATA- (IDE-) Festplatte wiederhergestellt werden können. Wenn Sie Ihre Festplatte reparieren lassen möchten, benötigen Sie eine Lösung wie durch das PC-3000 UDMA. </pre>  <pre class="whitespace-pre-wrap py-8">
Ein zweikanaliger Spannungsversorgungsadapter befindet sich auf der Platinensteuerung und bietet eine unabhängige Spannungsversorgung von +5 V, +12 V sowie Schutz vor Überspannungs- und Stromüberlastung. Im Notfall wird die Stromversorgung der Festplatte automatisch abgeschaltet.
Zusätzlich verfügt jeder Kanal über eine Rückkopplungsschaltung mit spezieller Verwaltungssoftware, die die Versorgungsspannungswerte steuert und den Benutzer über Probleme mit der Speiseschaltung informiert.

</pre>
      <div class="flex grid sm:grid-cols-2 grid-cols-1">
        <div class="overflow-hidden">
          <label class="">
            <img src="assets/pc3000udma.webp" alt="pc3000udma">
            Bildquelle: https://www.acelaboratory.com/pc3000.udma.php
          </label>
        </div>
      </div>


<div class="text-white py-8">
  Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de</div>
    </div>

  </div>
</ng-container>
<ng-container *ngIf="variant === 'flash'">
  <div class="py-10 bg-center bg-grey-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/ssd_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h2 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h2>
    </div>
  </div>
  <div class="bg-white text-center">

    <h1 class="text-4xl text-black py-5 tracking-wider">Datenrettung USB-Stick und (micro) SD-Karte</h1>
  </div>
  <div class="bg-grey-main text-white border-b-2 border-silver pb-8">
    <div class="container py-8">
<span class="text-2xl font-bold py-6">Datenrettung USB-Stick und (micro) SD-Karte</span>

<pre class="whitespace-pre-wrap py-8 py-8">
<span class="text-bold text-lg text-silver">Updated am 03.12.2021, 17:59 von Tobias Jungbauer</span>


Es wird die Datenrettung für USB-Sticks und (micro) SD-Karten angeboten:
<span class="font-semibold">- die z.B. am Endgerät nicht mehr erkannt werden
- die z.B. Dateien anzeigen, aber sich nicht auslesen lassen
- bei denen z.B. Windows Sie beim Anstecken auffordert zu formatieren
- die z.B. über z.B. Sony Kamera oder Android Smartphone formatiert worden sind</span>

<div class="flex justify-end pt-4"><button class="text-xl bg-white py-2 px-4 shadow rounded text-black"><a href="preise">Direkt zu den Preisen</a></button></div>
Hierfür wird der interne Speicherchip des Datenträgers direkt, sprich ohne Controller, ausgelesen.

<div class="flex grid-cols-2 flex-wrap gap-4">


  <img class="h-96 object-cover" src="assets/flash_arbeitsweise2.png.jpg">
  <img class="h-96 object-cover" src="assets/IMG_20180914_170148.jpg">
</div>
<pre class="whitespace-pre-wrap py-8">
Damit können die meisten Defekte umgangen werden und auch das Wiederherstellen nach Löschen/Formatieren über das Smartphone und Kamera (z.B. Sony) ermöglicht werden, bei der handelsübliche Software keine Ergebnisse liefern kann.

Bei Speichern mit PCB kann man hier den NAND-Chip einfach herunterlöten. Bei Monolithspeicher setzt man stattdessen auf der Oberfläche an einem sogenannten "technischen Pinout" an und liest über die eigenen Leiterbahnen des Speichers den internen NAND-Chip aus.</pre>
Sobald die Chipdaten ausgelesen sind werden daraus mit Hilfe der Speicherungslogik des ehemaligen Controllers die Dateien virtuell wieder zusammengesetzt.
Nach einigen Anpassungen wird am Ende ein Image erzeugt, sodass Ihre Dateien bestenfalls vollständig und in ursprünglicher Ordnerstruktur rekonstruiert worden sind.

Folgende Chips werden zum Auslesen unterstützt: TSOP-48, BGA-152 und LGA/TLGA-52/60, welche die üblichen Formate für beispielsweise USB-Sticks oder SD-Karten darstellen, wie weitere 112 verschiedene Monolitharten.

Preisliste:
Defekte (micro) SD-Karte oder USB-Stick bis 8GB Datenträgerkapazität: 50,00 €*
Defekte (micro) SD-Karte oder USB-Stick bis 16GB Datenträgerkapazität: 75,00 €*
Defekte (micro) SD-Karte oder USB-Stick bis 32GB Datenträgerkapazität: 100,00 €*
Defekte (micro) SD-Karte oder USB-Stick bis 64GB Datenträgerkapazität: 125,00 €*
*bereits inkl. 19% Mehrwertsteuer
</pre>


      <h2 class="text-2xl font-bold my-6">Verwendete Hard- Und Software</h2>
      <pre class="whitespace-pre-wrap py-8 overflow-hidden">Der PC-3000 Flash ist ein Hardware-Software-Lösung zur Wiederherstellung von Daten von NAND-basierten Geräten in solchen Fällen, in denen kein Zugriff über die zugewiesene Laufwerksschnittstelle mehr möglich ist.

Funktionsstörungen können vom PC-3000 Flash mit einer Reihe eigener Tools und Methoden umgangen werden.
        <img src="/assets/pc3000flash.webp">
Bildquelle: https://www.acelaboratory.com/pc3000flash.php

<h2 class="font-bold">Spiderboardadapter:</h2>
Der Spider Board Adapter wurde entwickelt, um mit Pins sich mit monolithischen Flash-Geräten zu verbinden.

<img src="/assets/pc3000flashspider.webp">
Bildquelle: https://www.acelaboratory.com/pc3000flash.php#Spider

Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </pre>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="variant === 'ssd'">
  <div class="py-10 bg-center bg-grey-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/flash_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h2 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h2>
    </div>
  </div>
  <div class="bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">SSD Datenrettung</h1>
  </div>
  <div class="bg-grey-main border-b-2 border-silver pb-8">
    <div class="text-white container py-8">

<span class="text-2xl font-bold py-6">SSD-Speicher Datenrettung:</span>
<pre class="whitespace-pre-wrap py-8">
<span class="text-bold text-lg text-silver">Updated am 03.12.2021, 18:05 von Tobias Jungbauer</span>

Tatsächlich sind bei über 90% der defekten SSD-Speicher, die nicht mehr erkannt werden, einer der NAND-Chips die Fehlerursache. Warum ist das so? Die SSD eigene Firmware wird auch auf den Speicherbausteinen abgespeichert.

Wenn vom Chip nun zu viele Teile der Firmware nicht mehr für den Controller lesbar werden, schafft die SSD es nicht mehr zu booten.

Aber dafür gibt es eine Lösung: Man bootet die SSD über das externe Hochladen der Firmware (in den RAM der SSD) und ermöglicht dadurch den Zugriff auf die Servicearea bzw. später auf die Userarea, wo sich auch die gewünschten Dateien befinden.
        </pre>
      <div class="flex grid-cols-2 flex-wrap gap-4">
        <img class="h-96 object-cover object-right" src="assets/ssd_arbeitsweise.jpg">
      </div>
    <pre class="whitespace-pre-wrap py-8">

In meiner Datenbank sind tausende an verschiedene „Loader“ für verschiedene Controller, die dieses Prozedere ermöglichen.

Abgesehen davon biete ich auch das Beseitigen von Hardwareschäden seitens der austauschbaren Elektrotechnik an.

Leider werden im Moment bei mir nur SATA basierte SSD-Festplatten unterstützt. Defekte M.2 SSDs daher nur, wenn diese nicht auf PCIe (NVMe), sondern ebenfalls auf das SATA Protokoll basieren.

Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
    </pre>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="variant === 'raid'">
  <div class="py-10 bg-center bg-grey-main bg-cover bg-no-repeat "
       style="background-image: url('/assets/raid_arbeitsweise.png')">
    <div class="flex md:ml-32 py-10 justify-center md:justify-start">
      <h2 class="text-4xl leading-relaxed text-center text-silver text-shadow">
        Tobias<br>Jungbauer<br>Datenrettung
      </h2>
    </div>
  </div>
  <div class="bg-white text-center">
    <h1 class="text-4xl text-black py-5 tracking-wider">RAID & Apple Fusiondrive Datenrettung</h1>
  </div>
  <div class="bg-grey-main border-b-2 border-silver">
    <div class="text-white container py-8">
<span class="text-2xl font-bold">RAID oder Apple Fusion Drive (iMac) Datenrettung:</span>
      <pre class="whitespace-pre-wrap py-8">
<span class="text-bold text-lg text-silver">Updated am 03.12.2021, 18:02 von Tobias Jungbauer</span>

Meine angebotene RAID-Datenrettung brauchen Sie, wenn ein "Rebuild" bei Ihnen nicht möglich ist.
Als Beispiel wenn mehrere Festplatten beschädigt worden sind oder der RAID-Controller selbst defekt ist.

Ich benötige dafür die einzelnen Festplatten bei mir vor Ort, aber nicht den RAID Controller.
Hiermit werden Ihre Dateien, ohne Veränderung an den einzelnen Festplatten, virtuell zusammengesetzt.

Besonderheit: Auch wenn Sie Ihre Konfiguration wie RAID-Typ, Block Size, Parity Order oder Delay nicht wissen, kann ich Ihre Dateien aus den einzelnen Festplatten inkl. Ordnerstruktur rekonstruieren!</pre>

      <div class="flex grid-cols-2 gap-4 h-80 mb-4">
        <img src="assets/raid1.jpg">
      </div>
      <pre class="whitespace-pre-wrap py-8">Unterstützt werden sowohl Software-RAID als auch Hardware-RAID, wie z.B. in NAS.
Auch Apple Fusion Drive wird unterstützt. Hier werden Ihre  Dateien auch bei Defekt des iMac oder der HDD-Festplatte wiederhergestellt.

Die unterstützten RAID Level sind:
- Einfache Level: 0 (Stripe), 1 (Mirror), JBOD, 1E Offset, 1E Adjacent, 4, 5, 5E, 5EE, 6, 6 Adaptec
- Kombinierte Level: 10, 50, 60, 51 usw.

Selbst wenn bei vielen RAID Level nicht alle Festplatten für eine Datenrettung benötigt werden, möchte ich Sie dennoch bitten möglichst vollständig einzusenden.
Berechnet wird selbstverständlich immer nur anhand der Mindestanzahl an benötigten Festplatten.

Falls noch Fragen offen sind rufen Sie am besten unter 0841 12840705 an oder schreiben eine Email an: info@jungbauerdatenrettung.de
        </pre>
    </div>
  </div>
</ng-container>
